

/* your_story */
#content .container.people .your_story .top-visual-area {background: url('../../images/people/your_story_bg.jpg') 50% 50% no-repeat; background-size: cover;}
#content .container.people .your_story .top-visual-area .inner-wrap .flt-text {padding:25px 170px 22px 50px;}
#content .container.people .your_story .top-visual-area .inner-wrap .flt-text .text {margin-bottom: 7px;}
#content .container.people .your_story .top-visual-area .inner-wrap .label>span:before {height:27px; background: #394679; opacity: 1;}
#content .container.people .your_story .top-visual-area .inner-wrap .label>span {font-size: 24px; color:#fff;}
#content .container.people .your_story .top-visual-area .inner-wrap .label>span>span {line-height: 28px;}
#content .container.people .your_story .con-wrap .confine-area .label {font-family: 'montserrat-medium'; line-height: 25px; top:-122px;}
#content .container.people .your_story .con-wrap .confine-area.text_by .text_by_img {width:120px; height:120px; position: absolute; top:-260px; right:20px;}
#content .container.people .your_story .con-wrap .confine-area.text_by {text-align: right;}
#content .container.people .your_story .con-wrap .confine-area .label:before {content: none;}
#content .container.people .your_story .con-wrap .confine-area .your_story_img_m {display: none;}
#content .container.people .your_story .con-wrap .confine-area .line_design{width:1px; height:50px; background: #888; margin: 0 auto; margin-bottom: 22px; }
#content .container.people .your_story .con-wrap .confine-area .info_section {font-family: 'montserrat-regular'; font-size:16px; color:#444; line-height: 30px; margin-bottom: 24px; text-align: justify;}
#content .container.people .your_story .con-wrap .wide-back-area {width:100%; padding-top: 78px; position: relative; padding-bottom: 204px; background: #f3f3f3; margin-top: 60px;}
#content .container.people .your_story .con-wrap .wide-back-area .line_design {width:1px; height:50px; background: #888; margin-bottom: 0; position: absolute; top:-25px; left:50%;}
#content .container.people .your_story .con-wrap .wide-back-area p {font-size: 16px; color: #444; font-family: 'montserrat-regular'; line-height: 30px; text-align: justify;}
#content .container.people .your_story .con-wrap .wide-back-area p.tp-2 {margin-top: 30px;}
#content .container.people .your_story .con-wrap .center_img {margin-top: -180px; position: relative;}
#content .container.people .your_story .con-wrap .center_img img {width:104%; margin-left: -4%;}
#content .container.people .your_story .con-wrap .confine-area .section2 p {font-size: 16px; color: #444; font-family: 'montserrat-regular'; line-height: 30px; text-align: justify;}
#content .container.people .your_story .con-wrap .confine-area .section2 p.tp-2 {margin-top: 30px;}
#content .container.people .your_story .m_bg {display: none;}
@media all and (max-width:992px) {
    #content .container.people .your_story .top-visual-area .inner-wrap .flt-text {padding: 25px 150px 22px 50px;}
    #content .container.people .your_story .top-visual-area .inner-wrap .flt-text .text {margin-top: 0;}
}

@media all and (max-width:768px) {
    #content .container.people .your_story .top-visual-area .inner-wrap .label>span {font-size: 15px;}
    #content .container.people .your_story .top-visual-area .inner-wrap .label>span>span {line-height: 15px;}
    #content .container.people .your_story .top-visual-area .inner-wrap .label>span:before {height:18px;}
    #content .container.people .your_story .con-wrap .confine-area.text_by>div img.your_story_img_pc {display: none;}
    #content .container.people .your_story .your_story_img_pc {display: none;}
    #content .container.people .your_story .con-wrap .confine-area .your_story_img_m {display: block;}
    #content .container.people .your_story .top-visual-area {width: 100%; height: auto; background: none; background-size: cover;}
    #content .container.people .your_story .inner-wrap.pc_ver {display: none;}
    #content .container.people .your_story .m_bg {display: block; width:100%; position: relative;}
    #content .container.people .your_story .m_bg img {width:100%;}
    #content .container.people .your_story .m_bg .inner-wrap {position: absolute; width:100%; height:auto; padding-bottom: 96.87%; box-sizing: border-box; top:0; min-height: auto;}
    #content .container.people .your_story .top-visual-area .inner-wrap .flt-text {padding: 0 12px; position: absolute; top:auto; bottom:-127px;}
    #content .container.people .your_story .con-wrap {padding-top: 142px;}
    #content .container.people .your_story .con-wrap .confine-area .label {top:0; line-height: 23px; right:12px; padding-top: 68px;}
    #content .container.people .your_story .con-wrap .confine-area.text_by .text_by_img {width:65px; height: 65px; top:0; right:12px;}
    #content .container.people .your_story .con-wrap .confine-area:first-child {padding-top: 115px;}
    #content .container.people .your_story .con-wrap .confine-area.m_section01 {margin-top:18px;}
    #content .container.people .your_story .con-wrap .confine-area .line_design {height:55px; margin-bottom: 12px;}
    #content .container.people .your_story .con-wrap .confine-area .info_section {font-size: 14px; line-height: 23px; margin-bottom: 12px;}
    #content .container.people .your_story .con-wrap .confine-area>div.section1 img.your_story_img_m {display: block;}
    #content .container.people .your_story .con-wrap .wide-back-area {margin-top: 68px; padding-top: 35px; padding-bottom: 68px;}
    #content .container.people .your_story .con-wrap .wide-back-area p {font-size: 14px; line-height: 23px;}
    #content .container.people .your_story .con-wrap .center_img {margin-top:-58px; }
    #content .container.people .your_story .con-wrap .wide-back-area .line_design {height:55px; top:-28px;}
    #content .container.people .your_story .con-wrap .wide-back-area p.tp-2 {margin-top: 23px;}
    #content .container.people .your_story .con-wrap .confine-area .section2 p {font-size: 14px; line-height: 23px;}
    #content .container.people .your_story .con-wrap .confine-area .section2 p.tp-2 {margin-top: 23px;}
    #content .container.people .your_story .con-wrap .center_img img {width: 100%; margin-left: 0;}
    #content .container.people .your_story .con-wrap .confine-area>div.section2 img {display: none;}
    #content .container.people .your_story .con-wrap .confine-area>div.section2 img.your_story_img_m {display: block;}
}

/* inside */
#content .container.focus .inside p {text-align: justify;}
#content .container.focus .inside .top-visual-area {background: url('../../images/focus/inside_top_visual.jpg') 50% 50% no-repeat; background-size: cover;}
#content .container.focus .inside .top-visual-area .inner-wrap .flt-text {padding:50px 40px 50px 55px; bottom: -172px;}
#content .container.focus .inside .top-visual-area .inner-wrap .flt-text .text {margin-bottom: 7px;}
#content .container.focus .inside .top-visual-area .inner-wrap .flt-text .title {font-size: 60px; line-height: 70px;}
#content .container.focus .inside .top-visual-area .inner-wrap .label>span:before {height:27px; background: #394679; opacity: 1;}
#content .container.focus .inside .top-visual-area .inner-wrap .label>span {font-size: 24px; color:#fff;}
#content .container.focus .inside .top-visual-area .inner-wrap .label>span>span {line-height: 28px;}
#content .container.focus .inside .con-wrap {padding-top: 222px;}
#content .container.focus .inside .con-wrap .confine-area .label {font-family: 'montserrat-medium'; line-height: 25px; top:-70px;}
#content .container.focus .inside .con-wrap .confine-area.text_by .text_by_img {width:120px; height:120px; position: absolute; top:-210px; right:20px;}
#content .container.focus .inside .con-wrap .confine-area.text_by {text-align: right;}
#content .container.focus .inside .con-wrap .confine-area .label:before {content: none;}
#content .container.focus .inside .con-wrap .confine-area .inside_img_m {display: none;}
#content .container.focus .inside .con-wrap .confine-area .line_design{width:1px; height:50px; background: #888; margin: 0 auto; margin-bottom: 20px; }
#content .container.focus .inside .con-wrap .confine-area .info_section {font-family: 'montserrat-regular'; font-size:16px; color:#444; line-height: 30px; margin-bottom: 24px;}
#content .container.focus .inside .con-wrap .confine-area .pic_add {font-family: 'montserrat-regular'; font-size: 14px; color:#444; line-height: 1; margin-top: 10px; text-align: right;}
#content .container.focus .inside .con-wrap .confine-area p.tp-2 {margin-top: 30px;}
#content .container.focus .inside .con-wrap .wide-back-area {width:100%; padding-top: 220px; position: relative; background: #f3f3f3; margin-top: 70px;}
#content .container.focus .inside .con-wrap .wide-back-area .line_design {width:1px; height:50px; background: #888; margin-bottom: 0; position: absolute; top:-25px; left:50%;}
#content .container.focus .inside .con-wrap .center_img {margin-top: -173px; position: relative;}
#content .container.focus .inside .con-wrap .center_img img {width:100%;}
#content .container.focus .inside .con-wrap .confine-area>div.section2 {margin-top: 22px;}
#content .container.focus .inside .con-wrap .confine-area .section2 p {font-size: 16px; color: #444; font-family: 'montserrat-regular'; line-height: 30px;}
#content .container.focus .inside .con-wrap .confine-area .section2 p.tp-2 {margin-top: 30px;}
#content .container.focus .inside .m_bg {display: none;}
@media all and (max-width:992px) {
    #content .container.focus .inside .top-visual-area {height:500px;}
    #content .container.focus .inside .top-visual-area .inner-wrap .flt-text {bottom:-72px;}
    #content .container.focus .inside .top-visual-area .inner-wrap .flt-text .title {font-size: 52px; line-height: 62px;}
    #content .container.focus .inside .top-visual-area .inner-wrap .flt-text {padding:50px 25px 50px 40px; bottom: -72px;}
    #content .container.focus .inside .con-wrap .confine-area.text_by .text_by_img {top:-190px;}
    #content .container.focus .inside .con-wrap .confine-area .label {top:-50px;}

}

@media all and (max-width:768px) {
    #content .container.focus .inside .top-visual-area .inner-wrap .label>span {font-size: 15px;}
    #content .container.focus .inside .top-visual-area .inner-wrap .label>span>span {line-height: 15px;}
    #content .container.focus .inside .top-visual-area .inner-wrap .label>span:before {height:15px;}
    #content .container.focus .inside .con-wrap .confine-area.text_by>div img.inside_img_pc {display: none;}
    #content .container.focus .inside .con-wrap .confine-area>div img.inside_img_pc {display: none;}
    #content .container.focus .inside .con-wrap .confine-area .inside_img_pc {display: none;}
    #content .container.focus .inside .con-wrap .confine-area .inside_img_m {display: block;}
    #content .container.focus .inside .top-visual-area {width: 100%; height: auto; background: none; background-size: cover;}
    #content .container.focus .inside .inner-wrap.pc_ver {display: none;}
    #content .container.focus .inside .m_bg {display: block; width:100%; position: relative;}
    #content .container.focus .inside .m_bg img {width:100%;}
    #content .container.focus .inside .m_bg .inner-wrap {position: absolute; width:100%; height:auto; padding-bottom: 96.87%; box-sizing: border-box; top:0; min-height: auto;}
    #content .container.focus .inside .top-visual-area .inner-wrap .flt-text {padding: 0 12px; position: absolute; top:auto; bottom:-212px;}
    #content .container.focus .inside .con-wrap {padding-top: 226px;}
    #content .container.focus .inside .con-wrap .confine-area .label {top:0; line-height: 23px; right:12px; padding-top: 68px;}
    #content .container.focus .inside .con-wrap .confine-area.text_by .text_by_img {width:65px; height: 65px; top:0; right:12px;}
    #content .container.focus .inside .con-wrap .confine-area:first-child {padding-top: 92px;}
    #content .container.focus .inside .con-wrap .confine-area.m_section01 {margin-top:18px;}
    #content .container.focus .inside .con-wrap .confine-area .line_design {height:25px; margin-bottom: 10px;}
    #content .container.focus .inside .con-wrap .confine-area .info_section {font-size: 14px; line-height: 23px; margin-bottom: 12px;}
    #content .container.focus .inside .con-wrap .confine-area .pic_add {font-size: 11px; text-align: left;}
    #content .container.focus .inside .con-wrap .confine-area>div.section1 img.inside_img_m {display: block;}
    #content .container.focus .inside .con-wrap .wide-back-area {margin-top: 33px; padding-top: 82px;}
    #content .container.focus .inside .con-wrap .wide-back-area p {font-size: 14px; line-height: 23px;}
    #content .container.focus .inside .con-wrap .center_img {margin-top:-59px; }
    #content .container.focus .inside .con-wrap .wide-back-area .line_design {height:25px; top:-13px;}
    #content .container.focus .inside .con-wrap .wide-back-area p.tp-2 {margin-top: 23px;}
    #content .container.focus .inside .con-wrap .confine-area .section2 p {font-size: 14px; line-height: 23px;}
    #content .container.focus .inside .con-wrap .confine-area .section2 p.tp-2 {margin-top: 23px;}
    #content .container.focus .inside .con-wrap .center_img img {width: 100%; margin-left: 0;}
    #content .container.focus .inside .con-wrap .confine-area>div.section2 img {display: none;}
    #content .container.focus .inside .con-wrap .confine-area>div.section2 img.inside_img_m {display: block;}
    #content .container.focus .inside .con-wrap .confine-area>div .text {line-height: 23px;}
    #content .container.focus .inside .con-wrap .confine-area p.tp-2 {margin-top: 23px;}
    #content .container.focus .inside .con-wrap .confine-area>div.section2 {margin-top: 11px;}
}

/* special */
#content .container.people .special .top-visual-area {background: url('../../images/people/special_bg.jpg') 50% 50% no-repeat; background-size: cover;}
#content .container.people .special .top-visual-area .inner-wrap .flt-text {padding:105px 206px 105px 50px;}
#content .container.people .special .top-visual-area .inner-wrap .label>span:before {height:27px; background: #394679; opacity: 1;}
#content .container.people .special .top-visual-area .inner-wrap .label>span {font-size: 24px; color:#fff;}
#content .container.people .special .top-visual-area .inner-wrap .label>span>span {line-height: 28px;}
#content .container.people .special .con-wrap .confine-area .label {font-family: 'montserrat-medium'; line-height: 25px; top:-97px;}
#content .container.people .special .con-wrap .confine-area.text_by span {background-color: #1b1b1b; width: 1px; height: 80px; position: absolute; top: -98px; right: 1px;}
#content .container.people .special .con-wrap .confine-area.text_by {text-align: right;}
#content .container.people .special .con-wrap {padding-top: 264px;}
#content .container.people .special .con-wrap .confine-area .special_img_m {display: none;}
#content .container.people .special .con-wrap .confine-area .line_design{width:1px; height:50px; background: #888; margin: 0 auto; margin-bottom: 15px; }
#content .container.people .special .con-wrap .confine-area .info_section {font-family: 'montserrat-regular'; font-size:16px; color:#444; line-height: 30px; margin-bottom: 24px; text-align: justify;}
#content .container.people .special .con-wrap .wide-back-area {width:100%; padding-top: 45px; position: relative; padding-bottom: 205px; background: #f3f3f3; margin-top: 75px;}
#content .container.people .special .con-wrap .wide-back-area .line_design {width:1px; height:50px; background: #888; margin-bottom: 0; position: absolute; top:-25px; left:50%;}
#content .container.people .special .con-wrap .wide-back-area .line_design.bottom {top:auto; bottom:-25px;}
#content .container.people .special .con-wrap .wide-back-area p {font-size: 16px; color: #444; font-family: 'montserrat-regular'; line-height: 30px; text-align: justify;}
#content .container.people .special .con-wrap .wide-back-area p.tp-2 {margin-top: 30px;}
#content .container.people .special .con-wrap .wide-back-area.middle {padding-bottom: 65px;}
#content .container.people .special .con-wrap .center_img {margin-top: -184px;}
#content .container.people .special .con-wrap .center_img img {width:100%;}
#content .container.people .special .con-wrap .confine-area>div p {font-size: 16px; color: #444; font-family: 'montserrat-regular'; line-height: 30px; text-align: justify;}
#content .container.people .special .con-wrap .confine-area>div p.tp-2 {margin-top: 30px;}
#content .container.people .special .con-wrap .confine-area>div.section2 {margin-top: -60px;}
#content .container.people .special .con-wrap .confine-area>div.section2 img {width:105%; margin-left: -4.4%;}
#content .container.people .special .con-wrap .confine-area>div.section3 {margin-top: -13px;}
#content .container.people .special .con-wrap .confine-area .section3 img {margin-top: 23px;}
#content .container.people .special .con-wrap .confine-area>div.section4 {margin-top: 40px;}
#content .container.people .special .con-wrap .confine-area>div.section5 p.tp-2 {margin-top: 24px;}
#content .container.people .special .m_bg {display: none;}
#content .container.people .special .confine-area .name {display: inline-block; position: relative; margin-bottom: 18px;}
#content .container.people .special .confine-area .name::before {position: absolute; bottom: 5px; width: 100%; left: 0; content: ""; height: 13px; background-color: #ffe32a;}
#content .container.people .special .confine-area .name span {position: relative; z-index: 1; font-family: 'montserrat-semibold'; color: #1b1b1b; font-size: 20px;}
#content .container.people .special .confine-area .section6 {overflow: hidden; margin-top: 43px;}
#content .container.people .special .confine-area .section6 .line_design {margin-bottom: 20px;}
#content .container.people .special .confine-area .section6 .img_area {width:250px; height:250px; float: left; background: url('../../images/people/special_personal.jpg') 50% 50% no-repeat; background-size: cover;}
#content .container.people .special .confine-area .section6 p {padding-left: 300px; padding-top:25px;}
#content .container.people .special .confine-area .section6 p.name_wrap {color:#1b1b1b;}
#content .container.people .special .confine-area .section6 p .ko_font {font-family:'notosans-light'; }
#content .container.people .special .confine-area .section6 .cont_wrap {overflow: hidden;}
#content .container.people .special .confine-area .section6 .name {position: relative; z-index: 1; font-family: 'montserrat-semibold'; color: #1b1b1b; font-size: 20px; margin-bottom: 0; margin-right: 8px;}
#content .container.people .special .confine-area .section6 .name::before {z-index: -1;}
#content .container.people .special .confine-area .section6 .personal_txt_m {display: none;}

@media all and (max-width:992px) {
    #content .container.people .special .top-visual-area .inner-wrap .flt-text {padding:95px 180px 95px 50px;}
    #content .container.people .special .top-visual-area .inner-wrap .flt-text .text {margin-top: 0;}
    #content .container.people .special .con-wrap {padding-top: 280px;}

}

@media all and (max-width:768px) {
    #content .container.people .special .top-visual-area .inner-wrap .label>span {font-size: 15px;}
    #content .container.people .special .top-visual-area .inner-wrap .label>span>span {line-height: 15px;}
    #content .container.people .special .top-visual-area .inner-wrap .label>span:before {height:16px;}
    #content .container.people .special .con-wrap .confine-area.text_by>div img.special_img_pc {display: none;}
    #content .container.people .special .special_img_pc {display: none;}
    #content .container.people .special .con-wrap .confine-area .special_img_m {display: block;}
    #content .container.people .special .top-visual-area {width: 100%; height: auto; background: none; background-size: cover;}
    #content .container.people .special .inner-wrap.pc_ver {display: none;}
    #content .container.people .special .m_bg {display: block; width:100%; position: relative;}
    #content .container.people .special .m_bg img {width:100%;}
    #content .container.people .special .m_bg .inner-wrap {position: absolute; width:100%; height:auto; padding-bottom: 96.87%; box-sizing: border-box; top:0; min-height: auto;}
    #content .container.people .special .top-visual-area .inner-wrap .flt-text div {padding:25px 20px;}
    #content .container.people .special .top-visual-area .inner-wrap .flt-text {padding: 0 12px; position: absolute; top:auto; bottom:-53px;}
    #content .container.people .special .con-wrap {padding-top: 68px;}
    #content .container.people .special .con-wrap .confine-area.text_by .label {top:0; line-height: 23px; right:12px; padding-top: 48px;}
    #content .container.people .special .con-wrap .confine-area.text_by span {height: 30px; top: 0;}
    #content .container.people .special .con-wrap .confine-area:first-child {padding-top: 94px;}
    #content .container.people .special .con-wrap .confine-area.m_section01 {margin-top:20px; padding:0;}
    #content .container.people .special .con-wrap .confine-area.m_section01.last {margin-top: 0;}
    #content .container.people .special .con-wrap .confine-area.m_section01 .line_design {display: none;}
    #content .container.people .special .con-wrap .confine-area .line_design {height:55px; margin-bottom: 12px;}
    #content .container.people .special .con-wrap .confine-area .info_section {padding:0 12px; font-size: 14px; line-height: 23px; margin-bottom: 12px;}
    #content .container.people .special .con-wrap .confine-area>div.section1 img.special_img_m {display: block;}
    #content .container.people .special .con-wrap .confine-area>div p {line-height: 23px; font-size: 14px;}
    #content .container.people .special .con-wrap .wide-back-area {margin-top: 38px; padding-top: 20px; padding-bottom: 68px;}
    #content .container.people .special .con-wrap .wide-back-area p {font-size: 14px; line-height: 23px;}
    #content .container.people .special .con-wrap .center_img {margin-top:-55px;}
    #content .container.people .special .con-wrap .center_img img {width: 100%; margin-left: 0;}
    #content .container.people .special .con-wrap .confine-area.m_big .special_img_m {width:104%; margin-left: -4%;}
    #content .container.people .special .confine-area .name {margin-bottom: 10px;}
    #content .container.people .special .confine-area .name span {font-size: 17px;}
    #content .container.people .special .confine-area .name::before {height:7px;}
    #content .container.people .special .con-wrap .wide-back-area .line_design {height:25px; top:-13px;}
    #content .container.people .special .con-wrap .wide-back-area p.tp-2 {margin-top: 23px;}
    #content .container.people .special .con-wrap .wide-back-area.middle {margin-top: 29px; padding-bottom:34px;}
    #content .container.people .special .con-wrap .wide-back-area .line_design.bottom {bottom:-13px;}
    #content .container.people .special .con-wrap .wide-back-area.last {margin-top: 30px; padding-bottom: 65px;}
    #content .container.people .special .con-wrap .confine-area>div p {font-size: 14px; line-height: 23px;}
    #content .container.people .special .con-wrap .confine-area>div p.tp-2 {margin-top: 23px;}
    #content .container.people .special .con-wrap .confine-area>div.section2 {margin-top: 0;}
    #content .container.people .special .con-wrap .confine-area.m_section01 .section2 .m_txt_wrap {padding: 0 12px;}
    #content .container.people .special .con-wrap .confine-area .section2 .special_img_m {width: 100%; margin-left: 0;}
    #content .container.people .special .con-wrap .confine-area>div.section2 img {display: none;}
    #content .container.people .special .con-wrap .confine-area>div.section2 img.special_img_m {display: block;}
    #content .container.people .special .con-wrap .confine-area>div.section3 {margin-top: 0;}
    #content .container.people .special .con-wrap .confine-area>div.section3 .special_img_pc {display: none;}
    #content .container.people .special .con-wrap .confine-area .section3 img {margin-top: 10px;}
    #content .container.people .special .con-wrap .confine-area>div.section4 {margin-top: 22px;}
    #content .container.people .special .con-wrap .confine-area>div.section5 p.tp-2 {margin-top: 12px;}
    #content .container.people .special .confine-area .section6 {margin-top: 22px;}
    #content .container.people .special .confine-area .section6 .line_design {margin-bottom: 10px; height:25px;}
    #content .container.people .special .confine-area .section6 .img_area {width:85px; height:85px; float: left; background: url('../../images/people/special_personal_m.jpg') 50% 50% no-repeat; background-size: cover;}
    #content .container.people .special .confine-area .section6 p {padding-left: 98px; padding-top:25px;}
    #content .container.people .special .confine-area .section6 p.name_wrap {padding-top: 50px; text-align: left; line-height: 18px;}
    #content .container.people .special .confine-area .section6 p .ko_font {font-family:'notosans-light'; }
    #content .container.people .special .confine-area .section6 .name {font-size: 17px; margin-bottom: 0; margin-right: 5px;}
    #content .container.people .special .confine-area .section6 .name::before {position: absolute; top: -3px; width: 13px; left: -3px; content: ""; height: 13px; background-color: #ffe32a;}
    #content .container.people .special .confine-area .section6 .personal_txt_pc {display: none;}
    #content .container.people .special .confine-area .section6 .personal_txt_m {display: block; padding-left: 0; padding-top: 11px;}

}


/* market */
#content .container.column .market p {text-align: justify;}
#content .container.column .market .top-visual-area {background: url('../../images/column/market_top_visual.jpg') 50% 50% no-repeat; background-size: cover;}
#content .container.column .market .top-visual-area .inner-wrap .flt-text {padding:50px 50px 40px 50px; bottom: -222px;}
#content .container.column .market .top-visual-area .inner-wrap .flt-text .title {font-size: 60px; line-height: 70px;}
#content .container.column .market .top-visual-area .inner-wrap .label>span:before {height:27px; background: #394679; opacity: 1;}
#content .container.column .market .top-visual-area .inner-wrap .label>span {font-size: 24px; color:#fff;}
#content .container.column .market .top-visual-area .inner-wrap .label>span>span {line-height: 28px;}
#content .container.column .market .con-wrap {padding-top: 272px; overflow: hidden;}
#content .container.column .market .con-wrap .confine-area .label {font-family: 'montserrat-medium'; line-height: 25px; top:-121px; text-align: right;}
#content .container.column .market .con-wrap .confine-area.text_by span {background-color: #1b1b1b; width: 1px; height: 80px; position: absolute; top: -98px; right: 1px;}
#content .container.column .market .con-wrap .confine-area.text_by {text-align: right;}
#content .container.column .market .con-wrap .confine-area .inside_img_m {display: none;}
#content .container.column .market .con-wrap .confine-area .line_design{width:1px; height:50px; background: #888; margin: 0 auto; margin-bottom: 0; }
#content .container.column .market .con-wrap .confine-area .info_section {font-family: 'montserrat-regular'; font-size:16px; color:#444; line-height: 30px; margin-bottom: 15px;}
#content .container.column .market .con-wrap .confine-area p {font-size: 16px; color: #444; font-family: 'montserrat-regular'; line-height: 30px;}
#content .container.column .market .con-wrap .confine-area p.tp-2 {margin-top: 30px;}
#content .container.column .market .con-wrap .wide-back-area {width:100%; padding-top: 302px; position: relative; background: #f3f3f3; margin-top: 70px;}
#content .container.column .market .con-wrap .wide-back-area .line_design {width:1px; height:50px; background: #888; margin-bottom: 0; position: absolute; top:-25px; left:50%;}
#content .container.column .market .con-wrap .center_img {margin-top: -260px; position: relative;}
#content .container.column .market .con-wrap .center_img img {width:100%;}
#content .container.column .market .con-wrap .confine-area>div.section2 {margin-top: 22px;}
#content .container.column .market .m_bg {display: none;}
#content .container.column .market .con-wrap .market_img_m {display: none;}
#content .container.column .market .con-wrap .market_center_big {text-align: center; margin-top: -42px; position: relative; z-index: -1;}
#content .container.column .market .con-wrap .market_center_big .market_img_m {display: none;}
#content .container.column .market .con-wrap .confine-area .market_center_big img {width: 119.3%; margin-left: -11.2%;}
#content .container.column .market .con-wrap .confine-area>div.section3 {margin-top: 8px;}

@media all and (max-width:992px) {
    #content .container.column .market .top-visual-area .inner-wrap .flt-text  {bottom:-192px; padding:50px 40px 40px 50px;}
    #content .container.column .market .top-visual-area .inner-wrap .flt-text .title {font-size: 50px; line-height: 60px;}
    #content .container.column .market .con-wrap {padding-top:286px;}
}

@media all and (max-width:768px) {
    #content .container.column .market .con-wrap .market_img_pc {display: none;}
    #content .container.column .market .con-wrap .market_img_m {display: block;}
    #content .container.column .market .con-wrap .market_center_big .market_img_pc {display: none;}
    #content .container.column .market .con-wrap .market_center_big .market_img_m {display: block;}
    #content .container.column .market .top-visual-area {background: none; height:auto;}
    #content .container.column .market .top-visual-area .inner-wrap.pc_ver {display: none;}
    #content .container.column .market .m_bg {display: block; width:100%; position: relative;}
    #content .container.column .market .m_bg img {width:100%;}
    #content .container.column .market .m_bg .inner-wrap {position: absolute; width:100%; height:auto; padding-bottom: 96.87%; box-sizing: border-box; top:0; min-height: auto;}
    #content .container.column .market .top-visual-area .inner-wrap .label>span {font-size: 15px;}
    #content .container.column .market .top-visual-area .inner-wrap .label>span:before {height: 15px;}
    #content .container.column .market .top-visual-area .inner-wrap .label>span>span {line-height: 15px;}
    #content .container.column .market .top-visual-area .inner-wrap .flt-text {padding: 0 12px; position: absolute; top:auto; bottom:-168px;}
    #content .container.column .market .top-visual-area .inner-wrap .flt-text div {padding:20px 20px; background:#ffe32a;}
    #content .container.column .market .top-visual-area .inner-wrap .flt-text div .title { font-size: 32px; line-height: 37px;}
    #content .container.column .market .con-wrap .confine-area.text_by {padding-top: 114px;}
    #content .container.column .market .con-wrap .confine-area.text_by .label {top: 0; line-height: 23px; right: 12px; padding-top: 48px;}
    #content .container.column .market .con-wrap .confine-area.text_by span {height: 30px; top: 0;}
    #content .container.column .market .con-wrap {padding-top: 182px;}
    #content .container.column .market .con-wrap .confine-area .label {top:0; right: 12px; line-height: 23px;}
    #content .container.column .market .con-wrap .m_section01 {margin-top: 20px;}
    #content .container.column .market .con-wrap .confine-area .line_design {height:25px;}
    #content .container.column .market .con-wrap .confine-area .info_section {margin-bottom: 7px;}
    #content .container.column .market .con-wrap .confine-area>div .text {line-height: 23px; }
    #content .container.column .market .con-wrap .confine-area p.tp-2 {margin-top: 23px;}
    #content .container.column .market .con-wrap .wide-back-area {margin-top: 31px; padding-top: 119px;}
    #content .container.column .market .con-wrap .wide-back-area .line_design {height:25px; top:-13px;}
    #content .container.column .market .con-wrap .center_img {margin-top: -90px;}
    #content .container.column .market .con-wrap .confine-area .market_center_big img {width:108%; margin-left: -4%;}
    #content .container.column .market .con-wrap .confine-area>div.section3 {margin-top: 4px;}
}

/* whats_new */
#content .container.focus .whatsNew p {text-align: justify;}
#content .container.focus .whatsNew .top-visual-area {height:683px; background: url('../../images/focus/whatsNew_top_visual.jpg') 50% 50% no-repeat; background-size: cover;}
#content .container.focus .whatsNew .top-visual-area .inner-wrap {height:683px;}
#content .container.focus .whatsNew .top-visual-area .inner-wrap .label>span:before {height:27px; background: #394679; opacity: 1;}
#content .container.focus .whatsNew .top-visual-area .inner-wrap .label>span {font-size: 24px; color:#fff;}
#content .container.focus .whatsNew .top-visual-area .inner-wrap .label>span>span {line-height: 28px;}
#content .container.focus .whatsNew .con-wrap {padding-top: 50px; overflow: hidden;}
#content .container.focus .whatsNew .con-wrap .confine-area .whatsNew_img_m {display: none;}
#content .container.focus .whatsNew .con-wrap .confine-area .line_design{width:1px; height:50px; background: #888; margin: 0 auto; margin-bottom: 15px;}
#content .container.focus .whatsNew .con-wrap .confine-area .info_section {font-family: 'montserrat-regular'; font-size:16px; color:#444; line-height: 30px;}
#content .container.focus .whatsNew .con-wrap .confine-area p {font-size: 16px; color: #444; font-family: 'montserrat-regular'; line-height: 30px;}
#content .container.focus .whatsNew .con-wrap .confine-area p.tp-2 {margin-top: 30px;}
#content .container.focus .whatsNew .con-wrap .confine-area .section1 img {margin-top: 15px; width:100.8%;}
#content .container.focus .whatsNew .con-wrap .confine-area>div.section2 {margin-top: 50px;}
#content .container.focus .whatsNew .con-wrap .confine-area>div.section3 {margin-top: 23px;}
#content .container.focus .whatsNew .con-wrap .confine-area>div.section3 img{margin-top: 23px;}
#content .container.focus .whatsNew .con-wrap .confine-area>div.section4 {margin-top: 23px;}
#content .container.focus .whatsNew .con-wrap .wide-back-area {width:100%; padding-top: 295px; position: relative; background: #f3f3f3; margin-top: 75px;}
#content .container.focus .whatsNew .con-wrap .wide-back-area .line_design {width:1px; height:50px; background: #888; margin-bottom: 0; position: absolute; top:-25px; left:50%;}
#content .container.focus .whatsNew .con-wrap .wide-back-area.last {margin-top: 0; padding-top: 68px; padding-bottom: 258px;}
#content .container.focus .whatsNew .con-wrap .wide-back-area.last .line_design {top: 5px;}
#content .container.focus .whatsNew .con-wrap .center_img {margin-top: -250px; position: relative;}
#content .container.focus .whatsNew .con-wrap .center_img img {width:102.2%;}
#content .container.focus .whatsNew .con-wrap .whatsNew_design_txt {width:50%; max-width: 500px; padding-left: 5%; padding-top: 3%; box-sizing: border-box; height:100%; position: absolute; top:0; right:20px;}
#content .container.focus .whatsNew .con-wrap .design_txt2 img {width:103.7%; margin-left: -3.7%;}
#content .container.focus .whatsNew .con-wrap .design_txt2 .whatsNew_design_txt {padding-left: 0; padding-right: 4%; padding-top: 11.5%; right:auto; left:20px;}
#content .container.focus .whatsNew .con-wrap .center_img.last {margin-top: -234px;}
#content .container.focus .whatsNew .m_bg {display: none;}
#content .container.focus .whatsNew .confine-area .name {display: inline-block; position: relative; margin-bottom: 18px; margin-top: 38px;}
#content .container.focus .whatsNew .confine-area .name::before {position: absolute; bottom: 5px; width: 100%; left: 0; content: ""; height: 13px; background-color: #ffe32a;}
#content .container.focus .whatsNew .confine-area .name span {position: relative; z-index: 1; font-family: 'montserrat-semibold'; color: #1b1b1b; font-size: 20px;}
#content .container.focus .whatsNew .con-wrap .m_none_txtarea {display: block;}
#content .container.focus .whatsNew .con-wrap .pc_none_txtarea {display: none;}
#content .container.focus .whatsNew p.margin_add_s {margin:15px 0;}
@media all and (max-width:1300px) {
    #content .container.focus .whatsNew .top-visual-area {height:500px;}
    #content .container.focus .whatsNew .top-visual-area .inner-wrap {height:500px;}
}

@media all and (max-width:992px) {
    #content .container.focus .whatsNew .top-visual-area {height:398px;}
    #content .container.focus .whatsNew .top-visual-area .inner-wrap {height:398px;}
    #content .container.focus .whatsNew .con-wrap .design_txt2 {margin-bottom: 140px;}
    #content .container.focus .whatsNew .con-wrap .design_txt2 .whatsNew_design_txt {padding-top: 7%;}
}

@media all and (max-width:768px) {
    #content .container.focus .whatsNew .con-wrap .confine-area .whatsNew_img_pc {display: none;}
    #content .container.focus .whatsNew .con-wrap .confine-area .whatsNew_img_m {display: block;}
    #content .container.focus .whatsNew .top-visual-area {background: none; height:auto;}
    #content .container.focus .whatsNew .top-visual-area .inner-wrap.pc_ver {display: none;}
    #content .container.focus .whatsNew .m_bg {display: block; width:100%; position: relative;}
    #content .container.focus .whatsNew .m_bg img {width:100%;}
    #content .container.focus .whatsNew .m_bg .inner-wrap {position: absolute; width:100%; height:auto; padding-bottom: 137.8125%; box-sizing: border-box; top:0; min-height: auto;}
    #content .container.focus .whatsNew .top-visual-area .inner-wrap .label>span {font-size: 15px;}
    #content .container.focus .whatsNew .top-visual-area .inner-wrap .label>span:before {height: 15px;}
    #content .container.focus .whatsNew .top-visual-area .inner-wrap .label>span>span {line-height: 15px;}
    #content .container.focus .whatsNew .con-wrap {padding-top: 25px;}
    #content .container.focus .whatsNew .con-wrap .confine-area:first-child {padding-top: 0;}
    #content .container.focus .whatsNew .con-wrap .confine-area .line_design {height:25px; margin-bottom: 13px;}
    #content .container.focus .whatsNew .con-wrap .confine-area>div .text {line-height: 23px; }
    #content .container.focus .whatsNew .con-wrap .confine-area p.tp-2 {margin-top: 23px;}
    #content .container.focus .whatsNew .con-wrap .confine-area p {font-size: 14px; line-height: 23px;}
    #content .container.focus .whatsNew .con-wrap .confine-area>div.section1 img.whatsNew_img_m {display: block;}
    #content .container.focus .whatsNew .con-wrap .confine-area>div.section2 img.whatsNew_img_pc {display: none;}
    #content .container.focus .whatsNew .con-wrap .confine-area>div.section2 img.whatsNew_img_m {display: block;}
    #content .container.focus .whatsNew .con-wrap .confine-area>div.section2 {margin-top: -10px;}
    #content .container.focus .whatsNew .con-wrap .confine-area>div.section2 .line_design {display: none;}
    #content .container.focus .whatsNew .con-wrap .m_none_txtarea {display: none;}
    #content .container.focus .whatsNew .con-wrap .pc_none_txtarea {display: block;}
    #content .container.focus .whatsNew .con-wrap .pc_none_txtarea .wide-back-area {margin-top: 37px; padding-top:18px; padding-bottom: 158px;}
    #content .container.focus .whatsNew .con-wrap .pc_none_txtarea .wide-back-area .line_design {height:25px; top:-13px;}
    #content .container.focus .whatsNew .con-wrap .pc_none_txtarea img {width: 100%;}
    #content .container.focus .whatsNew .con-wrap .pc_none_txtarea .confine-area.last {margin-top: -30px;}
    #content .container.focus .whatsNew .con-wrap .pc_none_txtarea .confine-area.last img {margin-top: 10px; position: relative; z-index: 1;}
    #content .container.focus .whatsNew .con-wrap .wide-back-area {margin-top: 37px; padding-top:18px; padding-bottom: 155px;}
    #content .container.focus .whatsNew .con-wrap .wide-back-area .line_design {height:25px; top:-13px;}
    #content .container.focus .whatsNew .con-wrap .wide-back-area.last {padding-top: 68px; margin-top:-72px; padding-bottom: 90px;}
    #content .container.focus .whatsNew .con-wrap .wide-back-area.last .line_design {top:30px;}
    #content .container.focus .whatsNew .con-wrap .center_img {margin-top: -147px;}
    #content .container.focus .whatsNew .con-wrap .center_img img {width:100%;}
    #content .container.focus .whatsNew .con-wrap .center_img.last {margin-top: -79px;}
    #content .container.focus .whatsNew .con-wrap .confine-area>div.section3 {margin-top: 10px;}
    #content .container.focus .whatsNew .con-wrap .confine-area>div.section3 img {margin-top: 10px;}
    #content .container.focus .whatsNew .con-wrap .confine-area>div.section4 {margin-top: 10px;}
    #content .container.focus .whatsNew .con-wrap .confine-area>div.section4 img {margin-top: 10px;}
    #content .container.focus .whatsNew .confine-area .name {margin-bottom: 10px; margin-top: 15px;}
    #content .container.focus .whatsNew .confine-area .name span {font-size: 17px;}
    #content .container.focus .whatsNew .confine-area .name::before {position: absolute; top: -3px; width: 13px; left: -3px; content: ""; height: 13px; background-color: #ffe32a;}
}

/* month list */
#content .month_list .top_visual_area {width:100%; height:450px; background: url("../../images/month/month_top_visual.jpg") 50% 50% no-repeat; background-size: cover;}
#content .month_list .top_visual_area .inner_wrap {max-width: 1000px; margin: 0 auto; padding: 0 20px; position: relative; height: 450px;}
#content .month_list .top_visual_area .visual_tit {text-align: center; font-family: 'montserrat-semibold'; color:#fff; padding-top: 124px;}
#content .month_list .top_visual_area .visual_tit .txt01 {font-size: 48px;}
#content .month_list .top_visual_area .visual_tit .txt02 {font-size: 48px; color:#fbe49b; margin-top: 3px;}
#content .month_list .top_visual_area .visual_tit .txt02 span{color:#fff;}
#content .month_list .top_visual_area .visual_tit .txt03 {font-size: 28px; font-family: 'montserrat-medium'; margin-top: 18px;}
#content .month_list .top_visual_area .m_bg {display: none;}
#content .month_list .cont_wrap {margin-top: 100px;}
#content .month_list .cont_wrap .inner_wrap {max-width: 1000px; margin: 0 auto; padding: 0 20px; position: relative; height:auto;}
#content .month_list .cont_wrap .tit {text-align: center;}
#content .month_list .cont_wrap .tit img {width:60px; display: inline-block; vertical-align: top;}
#content .month_list .cont_wrap .tit .line {width:30px; height:2px; margin: 15px auto 20px auto; background:#888; }
#content .month_list .cont_wrap .tit h2 {font-family: 'montserrat-regular'; font-size: 24px; color:#1b1b1b;}
#content .month_list .cont_wrap .card_wrap {margin-top:50px; overflow: hidden; font-size: 0;}
#content .month_list .cont_wrap .card_wrap .month_card { width: 32%; display: inline-block; vertical-align: top; padding-top: 42.7%; margin-right: 2%; margin-bottom: 40px; background:url('../../images/month/month_card_d.jpg') 50% 50% no-repeat; background-size: cover; position: relative;}
#content .month_list .cont_wrap .card_wrap .month_card.last {margin-right: 0;}
#content .month_list .cont_wrap .card_wrap .month_card img {width: 100%; position:absolute; z-index: 5; top:0;}
#content .month_list .cont_wrap .card_wrap .month_card .month_txt {width:100%; height:100px; text-align: center; font-family: 'montserrat-semibold'; color:#1b1b1b; position: absolute; top:50%; margin-top: -50px; z-index: 6;}
#content .month_list .cont_wrap .card_wrap .month_card .month_txt .card_logo {width:128px; height:28px; margin: 0 auto;}
#content .month_list .cont_wrap .card_wrap .month_card .month_txt .card_logo img {width: 100%; position: static; z-index: 6;}
#content .month_list .cont_wrap .card_wrap .month_card .month_txt .line {width:25px; height:2px; background:#1b1b1b; margin: 15px auto 20px auto;}
#content .month_list .cont_wrap .card_wrap .month_card .month_txt h1 {font-size: 38px;}
#content .month_list .cont_wrap .card_wrap .month_card.default img {width:178px; height:36px; left: 50%; margin-left: -89px; top:50%; margin-top:-18px; }
#content .month_list .cont_wrap .prev_btn_wrap {padding-top: 10px; margin-bottom: 100px;}
#content .month_list .cont_wrap .prev_btn_wrap a {display: inline-block; vertical-align: top; padding-bottom: 10px; padding-right:24px; border-bottom:1px solid #444; font-family: 'montserrat-regular'; font-size: 20px; color:#444;}
#content .month_list .cont_wrap .prev_btn_wrap a img {vertical-align: middle; margin-top: -2px; margin-right: 30px;}
#content .month_list .cont_wrap .card_wrap.m_ver {display: none;}

@media all and (max-width:992px) {
    #content .month_list .top_visual_area .visual_tit .txt01 {font-size: 46px;}
    #content .month_list .top_visual_area .visual_tit .txt02 {font-size: 46px;}
    #content .month_list .top_visual_area .visual_tit .txt03 {font-size: 26px;}
}

@media all and (max-width:768px) {
    #content .month_list .top_visual_area .m_bg {display: block;}
    #content .month_list .pc_ver {display: none;}
    #content .month_list .cont_wrap .card_wrap.m_ver {display: block;}
    #content .month_list .m_bg .inner_wrap {position: absolute; width:100%; height:auto; padding-bottom: 80.47%; box-sizing: border-box;}
    #content .month_list .m_bg img {width:100%;}
    #content .month_list .top_visual_area {width:100%; height:auto; background: none;}
    #content .month_list .top_visual_area .visual_tit {padding-top: 0; position: absolute; top: 50%; left: 0; width: 100%; margin-top: -50px;}
    #content .month_list .top_visual_area .visual_tit .txt01 {font-size: 24px;}
    #content .month_list .top_visual_area .visual_tit .txt02 {font-size: 24px;}
    #content .month_list .top_visual_area .visual_tit .txt03 {font-size: 14px; margin-top: 10px;}
    #content .month_list .cont_wrap {margin-top: 50px; overflow: hidden;}
    #content .month_list .cont_wrap .inner_wrap {padding: 0;}
    #content .month_list .cont_wrap .tit img {width:30px;}
    #content .month_list .cont_wrap .tit .line {width:15px; height:1px; margin: 10px auto; background:#888; }
    #content .month_list .cont_wrap .tit h2 {font-size: 14px;}
    #content .month_list .cont_wrap .card_wrap {width: 100%; margin-top: 25px; margin-left: 12px; overflow: visible; position: relative;}
    #content .month_list .cont_wrap .card_wrap .month_card {width: 228px; height:304px; padding-top: 0; margin-right: 20px; margin-bottom: 25px; background:url('../../images/month/month_card_d_m.jpg') 50% 50% no-repeat; background-size: cover;}
    #content .month_list .cont_wrap .card_wrap .month_card .month_txt {height:58px; margin-top: -29px;}
    #content .month_list .cont_wrap .card_wrap .month_card .month_txt .card_logo {width:72px; height:16px;}
    #content .month_list .cont_wrap .card_wrap .month_card .month_txt .line {width:12px; height:1px; margin: 10px auto;}
    #content .month_list .cont_wrap .card_wrap .month_card .month_txt h1 {font-size: 25px;}
    #content .month_list .cont_wrap .card_wrap .month_card.default img {width: 121px; height: auto; margin-left: -60px; margin-top: -12px;}
    #content .month_list .cont_wrap .card_wrap .slick-dots {position: absolute; bottom:0; left: 0; width: 100%; height: 2px; padding-right:24px; box-sizing: border-box;}
    #content .month_list .cont_wrap .card_wrap .slick-dots li {display: inline-block; height: 2px; background: #e1e1e1; width: calc(100% / 4); float: left; margin-top: 1px;}
    #content .month_list .cont_wrap .card_wrap .slick-dots li.slick-active div {width: 100%; height: 4px; background: #1b1b1b; margin-top: -1px; cursor: pointer;}
    #content .month_list .cont_wrap .prev_btn_wrap {padding-top: 0; margin-top: 33px; margin-bottom: 50px; text-align: center;}
    #content .month_list .cont_wrap .prev_btn_wrap a {padding-bottom: 7px; font-size: 14px; padding-right: 0;}
    #content .month_list .cont_wrap .prev_btn_wrap a img {vertical-align: middle; margin-top: -2px; margin-right: 10px;}

}


/* news list  */
#content .news_list_wrap {padding: 80px 20px; max-width: 1000px; margin: 0 auto; position: relative;}
#content .news_list_wrap .list_tit {font-family:'montserrat-regular'; font-size: 30px; color:#1b1b1b; padding-bottom:20px; border-bottom: 1px solid #74757a;}
#content .news_list_wrap .news_list li {border-bottom: 1px solid #e5e5e5; font-size: 0; padding:20px 0;}
#content .news_list_wrap .news_list li .list_img {width:250px; display: inline-block; vertical-align: middle;}
#content .news_list_wrap .news_list li .list_txt {width:calc(100% - 250px); padding:20px 25px; display: inline-block; vertical-align: middle; box-sizing: border-box;}
#content .news_list_wrap .news_list li .date {font-family:'montserrat-regular'; font-size: 16px; color: #1b1b1b;}
#content .news_list_wrap .news_list li .title {height:30px; font-family:'montserrat-medium'; font-size: 22px; color: #1b1b1b; line-height: 30px; margin-top: 6px; margin-bottom: 9px; letter-spacing: -1px; overflow: hidden; text-overflow: ellipsis;
display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-wrap:break-word;}
#content .news_list_wrap .news_list li .text {height:48px; font-family:'montserrat-regular'; font-size: 16px; color: #888; line-height: 24px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap:break-word;}
#content .news_list_wrap .news_list li:hover .title span{border-bottom: 1px solid #1b1b1b; box-sizing: border-box;}
#content .news_list_wrap .news_list li:hover .text span{border-bottom: 1px solid #888; box-sizing: border-box;}
#content .news_list_wrap .paging {margin-top: 50px;}
body #content .news_list_wrap .paging ul li.num a.active, #content .news_list_wrap .paging ul li.num a:hover {color:#1b1b1b !important;}
body #content .news_list_wrap .paging ul li.num a:before {background-color: #1b1b1b !important;}
#content .news_list_wrap .paging ul li.next a:hover {background: url('../../images/layout/rep_right_bt_active.png') no-repeat;}
#content .news_list_wrap .paging ul li.prev a:hover {background: url('../../images/layout/rep_left_bt_active.png') no-repeat;}

@media (max-width: 768px) {
    #content .news_list_wrap {padding: 40px 12px;}
    #content .news_list_wrap .list_tit {font-size: 25px; padding-bottom:12px;}
    #content .news_list_wrap .news_list li {padding:12px 0;}
    #content .news_list_wrap .news_list li .list_img {width:125px;}
    #content .news_list_wrap .news_list li .list_img img {width: 100%;}
    #content .news_list_wrap .news_list li .list_txt {width:calc(100% - 125px); padding:5px 15px;}
    #content .news_list_wrap .news_list li .date {font-size: 14px;}
    #content .news_list_wrap .news_list li .title {height:40px; font-size: 16px; line-height: 21px; margin-top: 6px; margin-bottom: 0; text-overflow: ellipsis;
    display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap:break-word;}
    #content .news_list_wrap .news_list li .text {display: none;}
    #content .news_list_wrap .paging {margin-top: 25px;}
    #content .news_list_wrap .paging ul li.next a:hover {background: url('../../images/layout/rep_right_bt_active.png') no-repeat; background-size: 30px 30px;}
    #content .news_list_wrap .paging ul li.prev a:hover {background: url('../../images/layout/rep_left_bt_active.png') no-repeat; background-size: 30px 30px;}
    #content .news_list_wrap .news_list li:hover .title span{border-bottom: none;}

}

/* footer visit  */
.visit_form_m {display: none;}
.visit_form {width:142px; height:58px; position: absolute; top:50px; left:0; font-size: 0;}
.visit_form tr { text-align: center; border-bottom: 1px solid #404040;}
.visit_form th {font-family:'montserrat-regular'; font-size: 13px; color: #fff; opacity: .15; padding:4px 0;}
.visit_form td {width:71px; padding:3px 0; font-family:'montserrat-regular'; font-size: 13px; color: #fff; opacity: .15;}
.visit_form tr.title td {font-size: 11px;}
.visit_form tr td:last-child {border-left: 1px solid #404040;}

@media (max-width: 992px) {
    .visit_form {top:-22px; left:160px;}
    #footer .outer .inner {overflow:visible; }
    .visit_form th {padding: 3px 0;}
    .visit_form td {padding: 2px 0;}
}
@media (max-width: 768px) {
    .visit_form_pc {display: none;}
    .visit_form_m {display: block;}
    .visit_form {position: static; margin: 0 auto; margin-bottom: 10px;}
    .visit_form th {padding: 4px 0;}
    .visit_form td {padding: 3px 0;}
}
