@charset "UTF-8";

#header{ position:relative; top:0; left:0; width:100%; background-color: #fff; z-index:501;
	&:after{ position: absolute; left:0; bottom:-1px; content:""; width:100%; height:1px; background-color:#e8e8e8;}
	&.scroll{position:fixed;
		.h-top-area{display:none;}
		.h-bot-area{border-top:0 !important;
			.depth01-lists{
				> li{
					>a{ height:60px !important; line-height:60px !important;}
					.depth02-lists{top:60px !important;}
				}
			}
			.h-util{top:11px !important;
				.h-date{top:3px !important;}
			}
		}
	}
	#logo{ text-align: center;
		a{display:inline-block; width:148px; height:33px; background: url('../../images/logo.png') no-repeat; text-indent: -9999px;}
	}
	.outer{ position: relative; padding:0 20px; z-index:10;  background-color: #fff;
		.inner{ position:relative; max-width:1000px; margin:0 auto;
			.h-top-area{  padding:28px 0 21px; position: relative; height:90px; @include boxSizing;
				.h-srch{ position: absolute; left:0; top:20px;
					.srch-input-wrap{ width:0; height: 49px; position: relative; -moz-border-radius: 24px; -webkit-border-radius: 24px; border-radius: 24px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; background-color: #f1f1f1;
						.srch-bt{ width:23px; height:23px; background: url('../../images/layout/h_search_icon.png') no-repeat; text-indent: -9999px; position: relative; top:14px; z-index:1;}
						.srch-input-area{ display:none; padding:0 50px 0 50px; width:100%; height:49px; position: absolute; right:0; top:0; @include boxSizing; @include opacity(0); @include transition();
							&.active{display:block; @include opacity(1);}
							input{ width:100%; height:49px; font-size:14px; color: #8f8f8f; font-family: 'notosans-light'; padding-left: 3px; @include boxSizing; @include placeholder(14px, #8f8f8f, 22px);}
							.srch-close{ position: absolute; width:11px; height:11px; background: url('../../images/layout/h_search_close.png') no-repeat; text-indent: -9999px; top:19px; right:20px;}
						}
					}
				}
				.h-date{ position: absolute; right:0; top:27px;
					.year{ color: #333; font-size:18px; font-family: 'montserrat-medium';}
					.bar{display:inline-block; width:11px; height:11px; background: url('../../images/layout/h_date_bar.png') no-repeat; margin:0 4px;}
					.month{ color: #de4160; font-size:34px; font-family: 'montserrat-semibold'; position: relative; top:3px;}
				}
			}
			.h-bot-area{border-top:1px solid #e8e8e8; position: relative; @include boxSizing;
				.m-srch-area{display:none;}
				.m-scroll-logo{display:none;}
				.left-wrap{ overflow: hidden; position: absolute; height:40px; left:0; top:5px;
					.h-sns-list{ position: relative; top:9px;
						&:after{display:block; content:""; clear: both;}
						li{float:left; margin-left: 10px;
							&.sns-01{ margin-left: 0;
								a{ background: url(../../images/layout/h_sns1.png) no-repeat;}
							}
							&.sns-02{
								a{ background: url(../../images/layout/h_sns2.png) no-repeat;}
							}
							&.sns-03{
								a{ background: url(../../images/layout/h_sns3.png) no-repeat;}
							}
							&.sns-04{
								a{ background: url(../../images/layout/h_sns4.png) no-repeat;}
							}
							a{display:inline-block; width:23px; height:23px;
								span{display:inline-block; text-indent: -9999px;}
							}
						}
					}
					.scroll-logo{position:absolute; top:42px;
 						a{ display:inline-block; text-indent:-9999px; width:103px; height:22px; background:url(../../images/layout/scroll_logo.png) no-repeat;}
					}
				}
				#gnb{width:100%; padding:0 20%; @include boxSizing;
					.depth01-lists{width:100%;
						&:after{display:block; content:""; clear: both;}
						> li{float:left; width: calc(100% / 4); background-color:greenyellow; position: relative;
							&.active{
								> a{ background-color: #333; color: #fff;
									span{ color: #fff;}
								}
								.depth02-lists{display:block;}
							}
							> a{display:inline-block; text-align: center; width:100%; height:50px; line-height:50px; font-family: 'montserrat-semibold'; background-color: #fff; font-size: 15px; color: #1b1b1b; font-weight: 600; @include boxSizing;
								span{ color: #de4160; font-size:10px; position: relative; top:-4px;}
								&.active{ color: #007ac3;}
							}
							.depth02-lists{display:none; width:125%; position: absolute; top:50px; left:-12.5%; z-index: 600;   @include transition();
								li{ border-top:1px solid #515151;
									a{display:block; width:100%; padding:17px 15px 17px 15px; font-size: 16px; color: #afafaf; background-color: #333; @include boxSizing; @include transition();
										&:hover{ background-color: #262626; color: #fff;}
										.label{font-family: 'montserrat-medium'; display:block;}
										.title{font-family: 'montserrat-medium'; display:block; margin-top: 9px; line-height:22px;}
									}
								}
							}
						}
					}
				}
				.h-util{ position: absolute; top:5px; right:0;  height:40px; overflow: hidden; width:130px;
					.compass-logo{ position: absolute; top:14px; right:37px; display:inline-block; width:61px; height:16px; background: url(../../images/layout/hmm_logo.png) no-repeat;
						span{display:inline-block; text-indent: -9999px;}
					}
					.h-date{ position: absolute; left:0; top:34px;
						.year{ color: #333; font-size:14px; font-family: 'montserrat-medium';}
						.bar{display:inline-block; position: relative; top:-2px; width:7px; height:7px; background: url('../../images/layout/h_date_bar2.png') no-repeat; margin:0 4px;}
						.month{ color: #de4160; font-size:30px; font-family: 'montserrat-semibold'; position: relative; top:3px;}
					}
					.util-menu-btn{ display:none; width:30px; height:30px; background: url('../../images/layout/m_h_util_bt.png') no-repeat; background-size:30px 30px; position: absolute; right:32px; top:7px;}
					.menu-trigger,
					.menu-trigger span {
						display : inline-block;
						transition : all .4s;
						box-sizing : border-box;
					}
					.menu-trigger {
						position: absolute;
						width : 22px;
						height : 17px;
						top:13px;
						right:0;
					}
					.menu-trigger span {
						position : absolute;
						left : 0;
						width : 100%;
						height : 3px;
						background-color : #3c3c3c;
					}
					.menu-trigger span:nth-of-type(1) {
						top : 0;
					}
					.menu-trigger span:nth-of-type(2) {
						top : 7px;
					}
					.menu-trigger span:nth-of-type(3) {
						bottom : 0;
					}

					.menu-trigger.inactive span:nth-of-type(1) {
						-webkit-animation : menu-bar01 .75s forwards;
						animation : menu-bar01 .75s forwards;
					}
					@-webkit-keyframes menu-bar01 {
						0% {
							-webkit-transform : translateY(7px) rotate(45deg);
						}
						50% {
							-webkit-transform : translateY(10px) rotate(0);
						}
						100% {
							-webkit-transform : translateY(0) rotate(0);
						}
					}
					@keyframes menu-bar01 {
						0% {
							transform : translateY(7px) rotate(45deg);
						}
						50% {
							transform : translateY(7px) rotate(0);
						}
						100% {
							transform : translateY(0) rotate(0);
						}
					}
					.menu-trigger.inactive span:nth-of-type(2) {
						transition : all .25s .25s;
						opacity : 1;
					}
					.menu-trigger.inactive span:nth-of-type(3) {
						-webkit-animation : menu-bar02 .75s forwards;
						animation : menu-bar02 .75s forwards;
					}
					@-webkit-keyframes menu-bar02 {
						0% {
							-webkit-transform : translateY(-7px) rotate(-45deg);
						}
						50% {
							-webkit-transform : translateY(-7px) rotate(0);
						}
						100% {
							-webkit-transform : translateY(0) rotate(0);
						}
					}
					@keyframes menu-bar02 {
						0% {
							transform : translateY(-7px) rotate(-45deg);
						}
						50% {
							transform : translateY(-7px) rotate(0);
						}
						100% {
							transform : translateY(0) rotate(0);
						}
					}
					.menu-trigger.active span:nth-of-type(1) {
						-webkit-animation : active-menu-bar01 .75s forwards;
						animation : active-menu-bar01 .75s forwards;
					}
					@-webkit-keyframes active-menu-bar01 {
						0% {
							-webkit-transform : translateY(0) rotate(0);
						}
						50% {
							-webkit-transform : translateY(7px) rotate(0);
						}
						100% {
							-webkit-transform : translateY(7px) rotate(45deg);
						}
					}
					@keyframes active-menu-bar01 {
						0% {
							transform : translateY(0) rotate(0);
						}
						50% {
							transform : translateY(7px) rotate(0);
						}
						100% {
							transform : translateY(7px) rotate(45deg);
						}
					}
					.menu-trigger.active span:nth-of-type(2) {
						opacity : 0;
					}
					.menu-trigger.active span:nth-of-type(3) {
						-webkit-animation : active-menu-bar03 .75s forwards;
						animation : active-menu-bar03 .75s forwards;
					}
					@-webkit-keyframes active-menu-bar03 {
						0% {
							-webkit-transform : translateY(0) rotate(0);
						}
						50% {
							-webkit-transform : translateY(-7px) rotate(0);
						}
						100% {
							-webkit-transform : translateY(-7px) rotate(-45deg);
						}
					}
					@keyframes active-menu-bar03 {
						0% {
							transform : translateY(0) rotate(0);
						}
						50% {
							transform : translateY(-7px) rotate(0);
						}
						100% {
							transform : translateY(-7px) rotate(-45deg);
						}
					}
				}
				.m_quick_open{ display:none; width: 100%; min-width: 320px; background: rgba(0,0,0,0.7); z-index: 999; position: fixed; top: 0; bottom: 0; left: 0; right: 0;
					ul{margin-top:56px; padding-right:45px;
						li{text-align: right; margin-top:10px;
							img{width:40px; height:40px;}
							a{display:block;
								.txt {display: inline-block; vertical-align: top; color:#fff; line-height: 40px; margin-right:7px; font-size: 12px; font-family: 'NotoSans-Light'; font-weight: bold;
									span{font-weight: normal; font-family:'Montserrat-Medium';}
								}
							}
						}
					}
				}
				.m_quick_open2{ display:none; width: 100%; min-width: 320px; background: rgba(0,0,0,0.7); z-index: 999; position: fixed; top: 0; bottom: 0; left: 0; right: 0;
					ul{ position: absolute; right:18px; bottom:70px;
						li{text-align: right; margin-top:10px;
							img{width:40px; height:40px;}
							a{display:block;
								.txt {display: inline-block; vertical-align: top; color:#fff; line-height: 40px; margin-right:7px; font-size: 12px; font-family: 'NotoSans-Light'; font-weight: bold;
									span{font-weight: normal; font-family:'Montserrat-Medium';}
								}
							}
						}
					}
				}
				.m_quick_close {cursor: pointer;}
			}
		}
	}

	#siteMap{ position: absolute; left:0; top:0; width:100%; background-color: #333; padding-bottom:1px; display:none;
		&.zIndex{ z-index:500;}
		.site-con{max-width:1000px; margin:0 auto; height:100%; overflow: hidden; padding:0 20px;
			> dl{width: calc(100% / 4); height:100%; border-left:1px solid #4b4b4b; float:left; background-color: #333; padding:50px 20px 0; @include boxSizing; @include transition();
				&:hover{ background-color: #262626;}
				&.active{background-color: #262626;
					dt{
						p{ color: #de4160;}
					}
				}
				dt{ margin-bottom:30px;
					p{font-family: 'montserrat-semibold'; font-size: 32px; color: #fff;
						span{ font-size: 30px; font-weight: 900; vertical-align: top; position: relative; top:4px;}
					}
				}
				dd{ margin-bottom:0;
					a{ display:inline-block;
						&:hover{
							div{
								&.label {
									p { color: #de4160; border-bottom: 1px solid #de4160; }
								}
								&.depth2-tit{
									p{color: #de4160; border-bottom:1px solid #de4160;}
								}
							}
						}
						div{
							&.label{
								p{font-size:14px; color: #888; font-family: 'montserrat-medium'; position: relative; display:inline; transition: all 0.3s ease; line-height:28px;}
							}
							&.depth2-tit{
								p{ font-size:16px; color: #888; font-family: 'montserrat-medium'; position: relative; margin-top:9px;display:inline; transition: all 0.3s ease; line-height:26px;}
							}
						}
					}
				}
			}
		}
	}
	#mSiteMap{display:none;}
}

@media all and (max-width:992px) {
	#header{ position:relative; top:0; left:0; width:100%; background-color: #fff; z-index:501;
		&:after{ position: absolute; left:0; bottom:-1px; content:""; width:100%; height:1px; background-color:#e8e8e8;}
		&.scroll{position:fixed;
			.h-top-area{display:none;}
			.h-bot-area{border-top:0 !important;
				.depth01-lists{
					> li{
						>a{ height:60px !important; line-height:60px !important;}
						.depth02-lists{top:60px !important;}
					}
				}
				.h-util{top:11px !important;}
			}
		}
		#logo{ text-align: center;
			a{display:inline-block; width:148px; height:33px; background: url('../../images/logo.png') no-repeat; text-indent: -9999px;}
		}
		.outer{ position: relative; padding:0 20px; z-index:10;  background-color: #fff;
			.inner{ position:relative; max-width:1000px; margin:0 auto;
				.h-top-area{  padding:28px 0 21px; position: relative; height:90px; @include boxSizing;
					.h-srch{ position: absolute; left:0; top:20px;
						.srch-input-wrap{ width:0; height: 49px; position: relative; -moz-border-radius: 24px; -webkit-border-radius: 24px; border-radius: 24px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; background-color: #f1f1f1;
							.srch-bt{ width:23px; height:23px; background: url('../../images/layout/h_search_icon.png') no-repeat; text-indent: -9999px; position: relative; top:14px; z-index:1;}
							.srch-input-area{ display:none; padding:0 50px 0 50px; width:100%; height:49px; position: absolute; right:0; top:0; @include boxSizing; @include opacity(0); @include transition();
								&.active{display:block; @include opacity(1);}
								input{ width:100%; height:49px; font-size:14px; color: #8f8f8f; font-family: 'notosans-light'; padding-left: 3px; @include boxSizing; @include placeholder(14px, #8f8f8f, 22px);}
								.srch-close{ position: absolute; width:11px; height:11px; background: url('../../images/layout/h_search_close.png') no-repeat; text-indent: -9999px; top:19px; right:20px;}
							}
						}
					}
					.h-date{ position: absolute; right:0; top:27px;
						.year{ color: #333; font-size:18px; font-family: 'montserrat-medium';}
						.bar{display:inline-block; width:11px; height:11px; background: url('../../images/layout/h_date_bar.png') no-repeat; margin:0 4px;}
						.month{ color: #de4160; font-size:34px; font-family: 'montserrat-semibold'; position: relative; top:3px;}
					}
				}
				.h-bot-area{border-top:1px solid #e8e8e8; position: relative; @include boxSizing;
					.left-wrap{ overflow: hidden; position: absolute; height:40px; left:0; top:5px;
						.h-sns-list{ position: relative; top:9px;
							&:after{display:block; content:""; clear: both;}
							li{float:left; margin-left: 10px;
								&.sns-01{ margin-left: 0;
									a{ background: url(../../images/layout/h_sns1.png) no-repeat;}
								}
								&.sns-02{
									a{ background: url(../../images/layout/h_sns2.png) no-repeat;}
								}
								&.sns-03{
									a{ background: url(../../images/layout/h_sns3.png) no-repeat;}
								}
								&.sns-04{
									a{ background: url(../../images/layout/h_sns4.png) no-repeat;}
								}
								a{display:inline-block; width:23px; height:23px;
									span{display:inline-block; text-indent: -9999px;}
								}
							}
						}
						.scroll-logo{position:absolute; top:40px;
							a{ display:inline-block; text-indent:-9999px; width:103px; height:22px; background:url(../../images/layout/scroll_logo.png) no-repeat;}
						}
					}
					#gnb{width:100%; padding:0 20%; @include boxSizing;
						.depth01-lists{width:100%;
							&:after{display:block; content:""; clear: both;}
							> li{float:left; width: calc(100% / 4); background-color:greenyellow; position: relative;
								&.active{
									> a{ background-color: #333; color: #fff;
										span{ color: #fff;}
									}
									.depth02-lists{display:block;}
								}
								> a{display:inline-block; text-align: center; width:100%; height:50px; line-height:50px; font-family: 'montserrat-semibold'; background-color: #fff; font-size: 15px; color: #1b1b1b; font-weight: 600; @include boxSizing;
									span{ color: #de4160; font-size:10px; position: relative; top:-4px;}
								}
								.depth02-lists{display:none; width:125%; position: absolute; top:50px; left:-12.5%; z-index: 600;   @include transition();
									li{ border-top:1px solid #515151;
										a{display:block; width:100%; padding:19px 10px 19px 20px; font-size: 16px; color: #afafaf; background-color: #333; @include boxSizing; @include transition();
											&:hover{ background-color: #262626; color: #fff;}
											.label{font-family: 'montserrat-medium'; display:block; line-height:22px;}
											.title{font-family: 'montserrat-medium'; display:block; margin-top: 9px;}
										}
									}
								}
							}
						}
					}
					.h-util{ position: absolute; top: 6px; right:0;  height:40px; overflow: hidden; width:130px;
						.compass-logo{ position: absolute; top:14px; right:37px; display:inline-block; width:61px; height:16px; background: url(../../images/layout/hmm_logo.png) no-repeat;
							span{display:inline-block; text-indent: -9999px;}
						}
						.h-date{ position: absolute; left:0; top:34px;
							.year{ color: #333; font-size:14px; font-family: 'montserrat-medium';}
							.bar{display:inline-block; position: relative; top:-2px; width:7px; height:7px; background: url('../../images/layout/h_date_bar2.png') no-repeat; margin:0 4px;}
							.month{ color: #de4160; font-size:30px; font-family: 'montserrat-semibold'; position: relative; top:3px;}
						}
						.menu-trigger,
						.menu-trigger span {
							display : inline-block;
							transition : all .4s;
							box-sizing : border-box;
						}
						.menu-trigger {
							position: absolute;
							width : 22px;
							height : 17px;
							top:13px;
							right:0;
						}
						.menu-trigger span {
							position : absolute;
							left : 0;
							width : 100%;
							height : 3px;
							background-color : #3c3c3c;
						}
						.menu-trigger span:nth-of-type(1) {
							top : 0;
						}
						.menu-trigger span:nth-of-type(2) {
							top : 7px;
						}
						.menu-trigger span:nth-of-type(3) {
							bottom : 0;
						}

						.menu-trigger.inactive span:nth-of-type(1) {
							-webkit-animation : menu-bar01 .75s forwards;
							animation : menu-bar01 .75s forwards;
						}
						@-webkit-keyframes menu-bar01 {
							0% {
								-webkit-transform : translateY(7px) rotate(45deg);
							}
							50% {
								-webkit-transform : translateY(10px) rotate(0);
							}
							100% {
								-webkit-transform : translateY(0) rotate(0);
							}
						}
						@keyframes menu-bar01 {
							0% {
								transform : translateY(7px) rotate(45deg);
							}
							50% {
								transform : translateY(7px) rotate(0);
							}
							100% {
								transform : translateY(0) rotate(0);
							}
						}
						.menu-trigger.inactive span:nth-of-type(2) {
							transition : all .25s .25s;
							opacity : 1;
						}
						.menu-trigger.inactive span:nth-of-type(3) {
							-webkit-animation : menu-bar02 .75s forwards;
							animation : menu-bar02 .75s forwards;
						}
						@-webkit-keyframes menu-bar02 {
							0% {
								-webkit-transform : translateY(-7px) rotate(-45deg);
							}
							50% {
								-webkit-transform : translateY(-7px) rotate(0);
							}
							100% {
								-webkit-transform : translateY(0) rotate(0);
							}
						}
						@keyframes menu-bar02 {
							0% {
								transform : translateY(-7px) rotate(-45deg);
							}
							50% {
								transform : translateY(-7px) rotate(0);
							}
							100% {
								transform : translateY(0) rotate(0);
							}
						}
						.menu-trigger.active span:nth-of-type(1) {
							-webkit-animation : active-menu-bar01 .75s forwards;
							animation : active-menu-bar01 .75s forwards;
						}
						@-webkit-keyframes active-menu-bar01 {
							0% {
								-webkit-transform : translateY(0) rotate(0);
							}
							50% {
								-webkit-transform : translateY(7px) rotate(0);
							}
							100% {
								-webkit-transform : translateY(7px) rotate(45deg);
							}
						}
						@keyframes active-menu-bar01 {
							0% {
								transform : translateY(0) rotate(0);
							}
							50% {
								transform : translateY(7px) rotate(0);
							}
							100% {
								transform : translateY(7px) rotate(45deg);
							}
						}
						.menu-trigger.active span:nth-of-type(2) {
							opacity : 0;
						}
						.menu-trigger.active span:nth-of-type(3) {
							-webkit-animation : active-menu-bar03 .75s forwards;
							animation : active-menu-bar03 .75s forwards;
						}
						@-webkit-keyframes active-menu-bar03 {
							0% {
								-webkit-transform : translateY(0) rotate(0);
							}
							50% {
								-webkit-transform : translateY(-7px) rotate(0);
							}
							100% {
								-webkit-transform : translateY(-7px) rotate(-45deg);
							}
						}
						@keyframes active-menu-bar03 {
							0% {
								transform : translateY(0) rotate(0);
							}
							50% {
								transform : translateY(-7px) rotate(0);
							}
							100% {
								transform : translateY(-7px) rotate(-45deg);
							}
						}
					}
				}
			}
		}

		#siteMap{ position: absolute; left:0; top:0; width:100%; background-color: #333; padding-bottom:1px; display:none;
			&.zIndex{ z-index:500;}
			.site-con{max-width:1000px; margin:0 auto; height:100%; overflow: hidden; padding:0 20px;
				> dl{width: calc(100% / 4); height:100%; border-left:1px solid #4b4b4b; float:left; background-color: #333; padding:50px 20px 0; @include boxSizing; @include transition();
					&:hover{ background-color: #262626;}
					&.active{background-color: #262626;
						dt{
							p{ color: #de4160;}
						}
					}
					dt{ margin-bottom:35px;
						p{font-family: 'notosans-bold'; font-size: 28px; color: #fff;
							span{ font-size: 30px; font-weight: 900; vertical-align: top; position: relative; top:4px;}
						}
					}
					dd{ margin-bottom:0;
						a{ display:inline-block;
							&:hover{
								div{
									&.label {
										p { color: #de4160; border-bottom: 1px solid #de4160; }
									}
									&.depth2-tit{
										p{color: #de4160; border-bottom:1px solid #de4160;}
									}
								}
							}
							div{
								&.label{
									p{font-size:14px; color: #888; font-family: 'montserrat-medium'; position: relative; display:inline; transition: all 0.3s ease; line-height:28px;}
								}
								&.depth2-tit{
									p{ font-size:16px; color: #888; font-family: 'montserrat-medium'; position: relative; margin-top:9px;display:inline; transition: all 0.3s ease; line-height:26px;}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media all and (max-width:768px) {
	#header{ position:relative; top:0; left:0; width:100%; background-color: #fff; z-index:600;
		&:after{ position: absolute; left:0; bottom:-1px; content:""; width:100%; height:1px; background-color:#e8e8e8;}
		&.scroll{position:fixed;
			.h-top-area{display:none;}
			.h-bot-area{border-top:0 !important;
				.m-srch-area{top:1px !important;}
				.m-scroll-logo{display:inline-block !important;}
				.depth01-lists{
					> li{
						>a{ height:60px !important; line-height:60px !important;}
						.depth02-lists{top:60px !important;}
					}
				}
				.h-util{top:5px !important; width:130px !important;
					.compass-logo{display:none !important;}
					.h-date{display:block !important; top:11px !important;}
				}
				.util-menu-btn{display:none !important;}
			}
		}
		#logo{ text-align: left;
			a{display:inline-block; width:98px; height:20px; background: url('../../images/m_logo.png') no-repeat; background-size: 79px 20px; text-indent: -9999px;}
		}
		.outer{ position: relative; padding:0 0; z-index:10;  background-color: #fff;
			.inner{ position:relative; max-width:1000px; margin:0 auto;
				.h-top-area{  padding:15px 12px 15px; position: relative; height:50px; @include boxSizing;
					.h-srch{ display:none;}
					.h-date{ position: absolute; right:18px; top:15px;
						.year{ color: #333; font-size:15px; font-family: 'montserrat-medium';}
						.bar{display:inline-block; width:7px; height:7px; background: url('../../images/layout/h_date_bar.png') no-repeat; background-size: 7px 7px; margin:0 4px;}
						.month{ color: #de4160; font-size:20px; font-family: 'montserrat-semibold'; position: relative; top:1px;}
					}
				}
				.h-bot-area{border-top:1px solid #e8e8e8; padding:0 18px; position: relative; height: 50px; @include boxSizing;
					.m-srch-area{display:block; position: absolute; width:100%; height:49px; left:0; top:0;
						> .srch-bt{width:18px; height:18px; position: absolute; top:16px; left:12px !important; z-index:2; background: url('../../images/layout/m_h_search_icon.png') no-repeat; background-size: 18px 18px;}
						.srch-box{width:100%; display:none; position: absolute; left:0; top:0; height:100%; z-index: 1; background-color: #f1f1f1; padding:0 50px; @include boxSizing;
							&.active{display:block;}
							input{ width:100%; height:49px; @include boxSizing;}
							.close-bt{ position: absolute; width:15px; height:14px; top:50%; margin-top:-7px; right:12px; background: url('../../images/layout/m_h_search_close.png') no-repeat; background-size: 15px 14px;}
						}
					}
					.m-scroll-logo{display:none; width:64px; height:17px; background: url('../../images/layout/m_scroll_logo.png') no-repeat; background-size: 64px 17px; position: absolute; left:45px; top:18px;
						span{display:inline-block; text-indent: -9999px;}
					}
					.left-wrap{ overflow: hidden; position: absolute; height:40px; left:0; top:5px;
						.h-sns-list{ position: relative; top:9px; display:none;
							&:after{display:block; content:""; clear: both;}
							li{float:left; margin-left: 10px;
								&.sns-01{ margin-left: 0;
									a{ background: url(../../images/layout/h_sns1.png) no-repeat;}
								}
								&.sns-02{
									a{ background: url(../../images/layout/h_sns2.png) no-repeat;}
								}
								&.sns-03{
									a{ background: url(../../images/layout/h_sns3.png) no-repeat;}
								}
								&.sns-04{
									a{ background: url(../../images/layout/h_sns4.png) no-repeat;}
								}
								a{display:inline-block; width:23px; height:23px;
									span{display:inline-block; text-indent: -9999px;}
								}
							}
						}
						.scroll-logo{position:absolute; top:40px;
							a{ display:inline-block; text-indent:-9999px; width:96px; height:30px; background:url(../../images/layout/scroll_logo.png) no-repeat;}
						}
					}
					#gnb{width:100%; padding:0 20%; @include boxSizing;
						.depth01-lists{width:100%; display:none;
							&:after{display:block; content:""; clear: both;}
							> li{float:left; width: calc(100% / 3); background-color:greenyellow; position: relative;
								&.active{
									> a{ background-color: #333; color: #fff;
										span{ color: #fff;}
									}
									.depth02-lists{display:block;}
								}
								> a{display:inline-block; text-align: center; width:100%; height:50px; line-height:50px; font-family: 'notosans-regular'; background-color: #fff; font-size: 15px; color: #1b1b1b; font-weight: 600; @include boxSizing;
									span{ color: #de4160; font-size:10px; position: relative; top:-4px;}
								}
								.depth02-lists{display:none; width:125%; position: absolute; top:50px; left:-12.5%; z-index: 600;   @include transition();
									li{ border-top:1px solid #515151;
										a{display:block; width:100%; padding:19px 10px 19px 20px; font-size: 16px; color: #afafaf; background-color: #333; @include boxSizing; @include transition();
											&:hover{ background-color: #262626; color: #fff;}
											.label{font-family: 'montserrat-medium'; display:block;}
											.title{font-family: 'notosans-regular'; display:block; margin-top: 9px;}
										}
									}
								}
							}
						}
					}
					.h-util{ position: absolute; top: 4px; right:12px;  height:40px; overflow: hidden; width:150px;
						.compass-logo{ position: absolute; top:16px !important; right:72px; display:inline-block; width:45px; height:12px; background: url(../../images/layout/compass_logo.png) no-repeat; background-size: 45px 12px;
							span{display:inline-block; text-indent: -9999px;}
						}
						.h-date{ position: absolute; left:11px; top:11px; display:none;
							.year{ color: #333; font-size:15px; font-family: 'montserrat-medium';}
							.bar{display:inline-block; position: relative; top:-2px; width:7px; height:7px; background: url('../../images/layout/h_date_bar2.png') no-repeat; margin:0 4px;}
							.month{ color: #de4160; font-size:20px; font-family: 'montserrat-semibold'; position: relative; top:1px;}
						}
						.util-menu-btn{ display:block; width:30px; height:30px; background: url('../../images/layout/m_h_util_bt.png') no-repeat; background-size:30px 30px; position: absolute; right:32px; top:7px; @include borderRadius(100%);}
						.menu-trigger,
						.menu-trigger span {
							display : inline-block;
							transition : all .4s;
							box-sizing : border-box;
						}
						.menu-trigger {
							position: absolute;
							width : 22px;
							height : 17px;
							top:13px;
							right:0;
						}
						.menu-trigger span {
							position : absolute;
							left : 0;
							width : 100%;
							height : 3px;
							background-color : #3c3c3c;
						}
						.menu-trigger span:nth-of-type(1) {
							top : 0;
						}
						.menu-trigger span:nth-of-type(2) {
							top : 7px;
						}
						.menu-trigger span:nth-of-type(3) {
							bottom : 0;
						}

						.menu-trigger.inactive span:nth-of-type(1) {
							-webkit-animation : menu-bar01 .75s forwards;
							animation : menu-bar01 .75s forwards;
						}
						@-webkit-keyframes menu-bar01 {
							0% {
								-webkit-transform : translateY(7px) rotate(45deg);
							}
							50% {
								-webkit-transform : translateY(10px) rotate(0);
							}
							100% {
								-webkit-transform : translateY(0) rotate(0);
							}
						}
						@keyframes menu-bar01 {
							0% {
								transform : translateY(7px) rotate(45deg);
							}
							50% {
								transform : translateY(7px) rotate(0);
							}
							100% {
								transform : translateY(0) rotate(0);
							}
						}
						.menu-trigger.inactive span:nth-of-type(2) {
							transition : all .25s .25s;
							opacity : 1;
						}
						.menu-trigger.inactive span:nth-of-type(3) {
							-webkit-animation : menu-bar02 .75s forwards;
							animation : menu-bar02 .75s forwards;
						}
						@-webkit-keyframes menu-bar02 {
							0% {
								-webkit-transform : translateY(-7px) rotate(-45deg);
							}
							50% {
								-webkit-transform : translateY(-7px) rotate(0);
							}
							100% {
								-webkit-transform : translateY(0) rotate(0);
							}
						}
						@keyframes menu-bar02 {
							0% {
								transform : translateY(-7px) rotate(-45deg);
							}
							50% {
								transform : translateY(-7px) rotate(0);
							}
							100% {
								transform : translateY(0) rotate(0);
							}
						}
						.menu-trigger.active span:nth-of-type(1) {
							-webkit-animation : active-menu-bar01 .75s forwards;
							animation : active-menu-bar01 .75s forwards;
						}
						@-webkit-keyframes active-menu-bar01 {
							0% {
								-webkit-transform : translateY(0) rotate(0);
							}
							50% {
								-webkit-transform : translateY(7px) rotate(0);
							}
							100% {
								-webkit-transform : translateY(7px) rotate(45deg);
							}
						}
						@keyframes active-menu-bar01 {
							0% {
								transform : translateY(0) rotate(0);
							}
							50% {
								transform : translateY(7px) rotate(0);
							}
							100% {
								transform : translateY(7px) rotate(45deg);
							}
						}
						.menu-trigger.active span:nth-of-type(2) {
							opacity : 0;
						}
						.menu-trigger.active span:nth-of-type(3) {
							-webkit-animation : active-menu-bar03 .75s forwards;
							animation : active-menu-bar03 .75s forwards;
						}
						@-webkit-keyframes active-menu-bar03 {
							0% {
								-webkit-transform : translateY(0) rotate(0);
							}
							50% {
								-webkit-transform : translateY(-7px) rotate(0);
							}
							100% {
								-webkit-transform : translateY(-7px) rotate(-45deg);
							}
						}
						@keyframes active-menu-bar03 {
							0% {
								transform : translateY(0) rotate(0);
							}
							50% {
								transform : translateY(-7px) rotate(0);
							}
							100% {
								transform : translateY(-7px) rotate(-45deg);
							}
						}
					}
					.m_quick_open{ display:none; width: 100%; min-width: 320px; background: rgba(0,0,0,0.7); z-index: 999; position: fixed; top: 0; bottom: 0; left: 0; right: 0;
						ul{margin-top:56px; padding-right:39px;
							li{text-align: right; margin-top:10px;
								img{width:40px; height:40px;}
								a{display:block;
									.txt {display: inline-block; vertical-align: top; color:#fff; line-height: 40px; margin-right:7px; font-size: 12px; font-family:'Montserrat-Medium'; font-weight: bold;
										span{font-family:'Montserrat-Medium';}
									}
								}
							}
						}
					}
					.m_quick_open2{ display:none; width: 100%; min-width: 320px; background: rgba(0,0,0,0.7); z-index: 999; position: fixed; top: 0; bottom: 0; left: 0; right: 0;
						ul{ position: absolute; right:12px; bottom:70px;
							li{text-align: right; margin-top:10px;
								img{width:40px; height:40px;}
								a{display:block;
									.txt {display: inline-block; vertical-align: top; color:#fff; line-height: 40px; margin-right:7px; font-size: 12px;font-family:'Montserrat-Medium';font-weight: bold;
										span{font-family:'Montserrat-Medium';}
									}
								}
							}
						}
					}
					.m_quick_close {cursor: pointer;
						button{width:40px; height:40px; @include borderRadius(100%);}
					}
				}
			}
		}

		#siteMap{display:none;}

		#mSiteMap{position: relative; left:0; top:-50px; width:100%; background-color: #333; padding-bottom:1px; display:none; z-index:100; padding-top:50px; @include boxSizing;
			> button{ position: absolute; right:18px; top:15px; width:21px; height:21px; background: url('../../images/layout/m_site_close.png') no-repeat; background-size: 21px 21px;}
			.site-con{width:100%;
				> ul {
					> li{ border-bottom:1px solid #434343;
						button{ width:100%; height:64px; background-color: #333; position: relative;
							p{ font-family: 'montserrat-semibold'; font-size:25px; color: #fff;
								span{ font-size:15px; position: relative; top:-7px;}
							}
							&:after{ position: absolute; right:18px; top:50%; margin-top:-10px; width:20px; height:20px; background: url('../../images/layout/m_acc_off.png') no-repeat; background-size: 20px 20px; content:"";}
							&.active{ background-color: #262626;
								p{ color: #de4160;}
								&:after{ height:1px; margin-top:-1px; }
							}
						}
						.hidden-list{ display:none; background-color: #262626; border-top:1px solid #434343; padding:20px 30px 30px;
							> li{ text-align: center; margin-top: 11px;
								&:first-child{ margin-top:0;}
								a{ font-size:14px; font-family: 'montserrat-regular'; color: #888; line-height:20px; display:block;
									span{ font-size:12px; font-family: 'montserrat-medium';}
								}
							}
						}
					}
				}
				.sns-list{ text-align: center; margin-top: 25px;
					a{display:inline-block; width:30px; height:30px; margin:0 4px;
						&.sns-01{background: url('../../images/layout/m_h_sns0.png') no-repeat; background-size: 30px 30px;}
						&.sns-02{background: url('../../images/layout/m_h_sns1.png') no-repeat; background-size: 30px 30px;}
						&.sns-03{background: url('../../images/layout/m_h_sns2.png') no-repeat; background-size: 30px 30px;}
						&.sns-04{background: url('../../images/layout/m_h_sns3.png') no-repeat; background-size: 30px 30px;}
					}
				}
			}
		}
	}
}



