$color: red;

.content {
  .m-g-bg {
    display: block;
    .thumb {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}


@media (min-width:768px){
  .content {
    .PC-g-bg {
      width: 100%;
      height: 594px;
      background-image: url(../../images/1902/sympathy/test/interview_top_bg.jpg);

    }
    .m-g-bg {
      display: none;
    }
  }
}