// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$company-behavior01-name: 'company-behavior01';
$company-behavior01-x: 0px;
$company-behavior01-y: 0px;
$company-behavior01-offset-x: 0px;
$company-behavior01-offset-y: 0px;
$company-behavior01-width: 64px;
$company-behavior01-height: 56px;
$company-behavior01-total-width: 230px;
$company-behavior01-total-height: 2937px;
$company-behavior01-image: '../../images/sprite/company.png?4103596287618';
$company-behavior01: (0px, 0px, 0px, 0px, 64px, 56px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-behavior01', );
$company-behavior02-name: 'company-behavior02';
$company-behavior02-x: 0px;
$company-behavior02-y: 71px;
$company-behavior02-offset-x: 0px;
$company-behavior02-offset-y: -71px;
$company-behavior02-width: 46px;
$company-behavior02-height: 64px;
$company-behavior02-total-width: 230px;
$company-behavior02-total-height: 2937px;
$company-behavior02-image: '../../images/sprite/company.png?4103596287618';
$company-behavior02: (0px, 71px, 0px, -71px, 46px, 64px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-behavior02', );
$company-behavior03-name: 'company-behavior03';
$company-behavior03-x: 0px;
$company-behavior03-y: 150px;
$company-behavior03-offset-x: 0px;
$company-behavior03-offset-y: -150px;
$company-behavior03-width: 64px;
$company-behavior03-height: 64px;
$company-behavior03-total-width: 230px;
$company-behavior03-total-height: 2937px;
$company-behavior03-image: '../../images/sprite/company.png?4103596287618';
$company-behavior03: (0px, 150px, 0px, -150px, 64px, 64px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-behavior03', );
$company-blt-value-off-name: 'company-blt_value_off';
$company-blt-value-off-x: 0px;
$company-blt-value-off-y: 229px;
$company-blt-value-off-offset-x: 0px;
$company-blt-value-off-offset-y: -229px;
$company-blt-value-off-width: 21px;
$company-blt-value-off-height: 21px;
$company-blt-value-off-total-width: 230px;
$company-blt-value-off-total-height: 2937px;
$company-blt-value-off-image: '../../images/sprite/company.png?4103596287618';
$company-blt-value-off: (0px, 229px, 0px, -229px, 21px, 21px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-blt_value_off', );
$company-blt-value-on-name: 'company-blt_value_on';
$company-blt-value-on-x: 0px;
$company-blt-value-on-y: 265px;
$company-blt-value-on-offset-x: 0px;
$company-blt-value-on-offset-y: -265px;
$company-blt-value-on-width: 21px;
$company-blt-value-on-height: 21px;
$company-blt-value-on-total-width: 230px;
$company-blt-value-on-total-height: 2937px;
$company-blt-value-on-image: '../../images/sprite/company.png?4103596287618';
$company-blt-value-on: (0px, 265px, 0px, -265px, 21px, 21px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-blt_value_on', );
$company-btn-next01-name: 'company-btn_next01';
$company-btn-next01-x: 0px;
$company-btn-next01-y: 301px;
$company-btn-next01-offset-x: 0px;
$company-btn-next01-offset-y: -301px;
$company-btn-next01-width: 36px;
$company-btn-next01-height: 36px;
$company-btn-next01-total-width: 230px;
$company-btn-next01-total-height: 2937px;
$company-btn-next01-image: '../../images/sprite/company.png?4103596287618';
$company-btn-next01: (0px, 301px, 0px, -301px, 36px, 36px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-btn_next01', );
$company-btn-play-name: 'company-btn_play';
$company-btn-play-x: 0px;
$company-btn-play-y: 352px;
$company-btn-play-offset-x: 0px;
$company-btn-play-offset-y: -352px;
$company-btn-play-width: 70px;
$company-btn-play-height: 70px;
$company-btn-play-total-width: 230px;
$company-btn-play-total-height: 2937px;
$company-btn-play-image: '../../images/sprite/company.png?4103596287618';
$company-btn-play: (0px, 352px, 0px, -352px, 70px, 70px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-btn_play', );
$company-btn-prev01-name: 'company-btn_prev01';
$company-btn-prev01-x: 0px;
$company-btn-prev01-y: 437px;
$company-btn-prev01-offset-x: 0px;
$company-btn-prev01-offset-y: -437px;
$company-btn-prev01-width: 36px;
$company-btn-prev01-height: 36px;
$company-btn-prev01-total-width: 230px;
$company-btn-prev01-total-height: 2937px;
$company-btn-prev01-image: '../../images/sprite/company.png?4103596287618';
$company-btn-prev01: (0px, 437px, 0px, -437px, 36px, 36px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-btn_prev01', );
$company-ci01-name: 'company-ci01';
$company-ci01-x: 0px;
$company-ci01-y: 488px;
$company-ci01-offset-x: 0px;
$company-ci01-offset-y: -488px;
$company-ci01-width: 79px;
$company-ci01-height: 79px;
$company-ci01-total-width: 230px;
$company-ci01-total-height: 2937px;
$company-ci01-image: '../../images/sprite/company.png?4103596287618';
$company-ci01: (0px, 488px, 0px, -488px, 79px, 79px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-ci01', );
$company-ci02-name: 'company-ci02';
$company-ci02-x: 0px;
$company-ci02-y: 582px;
$company-ci02-offset-x: 0px;
$company-ci02-offset-y: -582px;
$company-ci02-width: 85px;
$company-ci02-height: 79px;
$company-ci02-total-width: 230px;
$company-ci02-total-height: 2937px;
$company-ci02-image: '../../images/sprite/company.png?4103596287618';
$company-ci02: (0px, 582px, 0px, -582px, 85px, 79px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-ci02', );
$company-ci03-name: 'company-ci03';
$company-ci03-x: 0px;
$company-ci03-y: 676px;
$company-ci03-offset-x: 0px;
$company-ci03-offset-y: -676px;
$company-ci03-width: 147px;
$company-ci03-height: 79px;
$company-ci03-total-width: 230px;
$company-ci03-total-height: 2937px;
$company-ci03-image: '../../images/sprite/company.png?4103596287618';
$company-ci03: (0px, 676px, 0px, -676px, 147px, 79px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-ci03', );
$company-ci04-name: 'company-ci04';
$company-ci04-x: 0px;
$company-ci04-y: 770px;
$company-ci04-offset-x: 0px;
$company-ci04-offset-y: -770px;
$company-ci04-width: 78px;
$company-ci04-height: 79px;
$company-ci04-total-width: 230px;
$company-ci04-total-height: 2937px;
$company-ci04-image: '../../images/sprite/company.png?4103596287618';
$company-ci04: (0px, 770px, 0px, -770px, 78px, 79px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-ci04', );
$company-ci05-name: 'company-ci05';
$company-ci05-x: 0px;
$company-ci05-y: 864px;
$company-ci05-offset-x: 0px;
$company-ci05-offset-y: -864px;
$company-ci05-width: 64px;
$company-ci05-height: 79px;
$company-ci05-total-width: 230px;
$company-ci05-total-height: 2937px;
$company-ci05-image: '../../images/sprite/company.png?4103596287618';
$company-ci05: (0px, 864px, 0px, -864px, 64px, 79px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-ci05', );
$company-ci06-name: 'company-ci06';
$company-ci06-x: 0px;
$company-ci06-y: 958px;
$company-ci06-offset-x: 0px;
$company-ci06-offset-y: -958px;
$company-ci06-width: 96px;
$company-ci06-height: 79px;
$company-ci06-total-width: 230px;
$company-ci06-total-height: 2937px;
$company-ci06-image: '../../images/sprite/company.png?4103596287618';
$company-ci06: (0px, 958px, 0px, -958px, 96px, 79px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-ci06', );
$company-gallery-next-name: 'company-gallery_next';
$company-gallery-next-x: 0px;
$company-gallery-next-y: 1052px;
$company-gallery-next-offset-x: 0px;
$company-gallery-next-offset-y: -1052px;
$company-gallery-next-width: 22px;
$company-gallery-next-height: 16px;
$company-gallery-next-total-width: 230px;
$company-gallery-next-total-height: 2937px;
$company-gallery-next-image: '../../images/sprite/company.png?4103596287618';
$company-gallery-next: (0px, 1052px, 0px, -1052px, 22px, 16px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-gallery_next', );
$company-gallery-next02-name: 'company-gallery_next02';
$company-gallery-next02-x: 0px;
$company-gallery-next02-y: 1083px;
$company-gallery-next02-offset-x: 0px;
$company-gallery-next02-offset-y: -1083px;
$company-gallery-next02-width: 17px;
$company-gallery-next02-height: 14px;
$company-gallery-next02-total-width: 230px;
$company-gallery-next02-total-height: 2937px;
$company-gallery-next02-image: '../../images/sprite/company.png?4103596287618';
$company-gallery-next02: (0px, 1083px, 0px, -1083px, 17px, 14px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-gallery_next02', );
$company-gallery-prev-name: 'company-gallery_prev';
$company-gallery-prev-x: 0px;
$company-gallery-prev-y: 1112px;
$company-gallery-prev-offset-x: 0px;
$company-gallery-prev-offset-y: -1112px;
$company-gallery-prev-width: 22px;
$company-gallery-prev-height: 16px;
$company-gallery-prev-total-width: 230px;
$company-gallery-prev-total-height: 2937px;
$company-gallery-prev-image: '../../images/sprite/company.png?4103596287618';
$company-gallery-prev: (0px, 1112px, 0px, -1112px, 22px, 16px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-gallery_prev', );
$company-gallery-prev02-name: 'company-gallery_prev02';
$company-gallery-prev02-x: 0px;
$company-gallery-prev02-y: 1143px;
$company-gallery-prev02-offset-x: 0px;
$company-gallery-prev02-offset-y: -1143px;
$company-gallery-prev02-width: 17px;
$company-gallery-prev02-height: 14px;
$company-gallery-prev02-total-width: 230px;
$company-gallery-prev02-total-height: 2937px;
$company-gallery-prev02-image: '../../images/sprite/company.png?4103596287618';
$company-gallery-prev02: (0px, 1143px, 0px, -1143px, 17px, 14px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-gallery_prev02', );
$company-history-left-name: 'company-history_left';
$company-history-left-x: 0px;
$company-history-left-y: 1172px;
$company-history-left-offset-x: 0px;
$company-history-left-offset-y: -1172px;
$company-history-left-width: 51px;
$company-history-left-height: 8px;
$company-history-left-total-width: 230px;
$company-history-left-total-height: 2937px;
$company-history-left-image: '../../images/sprite/company.png?4103596287618';
$company-history-left: (0px, 1172px, 0px, -1172px, 51px, 8px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-history_left', );
$company-history-next-name: 'company-history_next';
$company-history-next-x: 0px;
$company-history-next-y: 1195px;
$company-history-next-offset-x: 0px;
$company-history-next-offset-y: -1195px;
$company-history-next-width: 46px;
$company-history-next-height: 46px;
$company-history-next-total-width: 230px;
$company-history-next-total-height: 2937px;
$company-history-next-image: '../../images/sprite/company.png?4103596287618';
$company-history-next: (0px, 1195px, 0px, -1195px, 46px, 46px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-history_next', );
$company-history-off-name: 'company-history_off';
$company-history-off-x: 0px;
$company-history-off-y: 1256px;
$company-history-off-offset-x: 0px;
$company-history-off-offset-y: -1256px;
$company-history-off-width: 25px;
$company-history-off-height: 25px;
$company-history-off-total-width: 230px;
$company-history-off-total-height: 2937px;
$company-history-off-image: '../../images/sprite/company.png?4103596287618';
$company-history-off: (0px, 1256px, 0px, -1256px, 25px, 25px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-history_off', );
$company-history-on-name: 'company-history_on';
$company-history-on-x: 0px;
$company-history-on-y: 1296px;
$company-history-on-offset-x: 0px;
$company-history-on-offset-y: -1296px;
$company-history-on-width: 25px;
$company-history-on-height: 25px;
$company-history-on-total-width: 230px;
$company-history-on-total-height: 2937px;
$company-history-on-image: '../../images/sprite/company.png?4103596287618';
$company-history-on: (0px, 1296px, 0px, -1296px, 25px, 25px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-history_on', );
$company-history-prev-name: 'company-history_prev';
$company-history-prev-x: 0px;
$company-history-prev-y: 1336px;
$company-history-prev-offset-x: 0px;
$company-history-prev-offset-y: -1336px;
$company-history-prev-width: 46px;
$company-history-prev-height: 46px;
$company-history-prev-total-width: 230px;
$company-history-prev-total-height: 2937px;
$company-history-prev-image: '../../images/sprite/company.png?4103596287618';
$company-history-prev: (0px, 1336px, 0px, -1336px, 46px, 46px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-history_prev', );
$company-history-right-name: 'company-history_right';
$company-history-right-x: 0px;
$company-history-right-y: 1397px;
$company-history-right-offset-x: 0px;
$company-history-right-offset-y: -1397px;
$company-history-right-width: 51px;
$company-history-right-height: 8px;
$company-history-right-total-width: 230px;
$company-history-right-total-height: 2937px;
$company-history-right-image: '../../images/sprite/company.png?4103596287618';
$company-history-right: (0px, 1397px, 0px, -1397px, 51px, 8px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-history_right', );
$company-link-arrow-name: 'company-link_arrow';
$company-link-arrow-x: 0px;
$company-link-arrow-y: 1420px;
$company-link-arrow-offset-x: 0px;
$company-link-arrow-offset-y: -1420px;
$company-link-arrow-width: 5px;
$company-link-arrow-height: 10px;
$company-link-arrow-total-width: 230px;
$company-link-arrow-total-height: 2937px;
$company-link-arrow-image: '../../images/sprite/company.png?4103596287618';
$company-link-arrow: (0px, 1420px, 0px, -1420px, 5px, 10px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-link_arrow', );
$company-location01-name: 'company-location01';
$company-location01-x: 0px;
$company-location01-y: 1445px;
$company-location01-offset-x: 0px;
$company-location01-offset-y: -1445px;
$company-location01-width: 36px;
$company-location01-height: 53px;
$company-location01-total-width: 230px;
$company-location01-total-height: 2937px;
$company-location01-image: '../../images/sprite/company.png?4103596287618';
$company-location01: (0px, 1445px, 0px, -1445px, 36px, 53px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-location01', );
$company-location02-name: 'company-location02';
$company-location02-x: 0px;
$company-location02-y: 1513px;
$company-location02-offset-x: 0px;
$company-location02-offset-y: -1513px;
$company-location02-width: 54px;
$company-location02-height: 49px;
$company-location02-total-width: 230px;
$company-location02-total-height: 2937px;
$company-location02-image: '../../images/sprite/company.png?4103596287618';
$company-location02: (0px, 1513px, 0px, -1513px, 54px, 49px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-location02', );
$company-location03-name: 'company-location03';
$company-location03-x: 0px;
$company-location03-y: 1577px;
$company-location03-offset-x: 0px;
$company-location03-offset-y: -1577px;
$company-location03-width: 42px;
$company-location03-height: 29px;
$company-location03-total-width: 230px;
$company-location03-total-height: 2937px;
$company-location03-image: '../../images/sprite/company.png?4103596287618';
$company-location03: (0px, 1577px, 0px, -1577px, 42px, 29px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-location03', );
$company-relative01-01-name: 'company-relative01_01';
$company-relative01-01-x: 0px;
$company-relative01-01-y: 1621px;
$company-relative01-01-offset-x: 0px;
$company-relative01-01-offset-y: -1621px;
$company-relative01-01-width: 64px;
$company-relative01-01-height: 64px;
$company-relative01-01-total-width: 230px;
$company-relative01-01-total-height: 2937px;
$company-relative01-01-image: '../../images/sprite/company.png?4103596287618';
$company-relative01-01: (0px, 1621px, 0px, -1621px, 64px, 64px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-relative01_01', );
$company-relative01-02-name: 'company-relative01_02';
$company-relative01-02-x: 0px;
$company-relative01-02-y: 1700px;
$company-relative01-02-offset-x: 0px;
$company-relative01-02-offset-y: -1700px;
$company-relative01-02-width: 63px;
$company-relative01-02-height: 62px;
$company-relative01-02-total-width: 230px;
$company-relative01-02-total-height: 2937px;
$company-relative01-02-image: '../../images/sprite/company.png?4103596287618';
$company-relative01-02: (0px, 1700px, 0px, -1700px, 63px, 62px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-relative01_02', );
$company-relative01-03-name: 'company-relative01_03';
$company-relative01-03-x: 0px;
$company-relative01-03-y: 1777px;
$company-relative01-03-offset-x: 0px;
$company-relative01-03-offset-y: -1777px;
$company-relative01-03-width: 62px;
$company-relative01-03-height: 64px;
$company-relative01-03-total-width: 230px;
$company-relative01-03-total-height: 2937px;
$company-relative01-03-image: '../../images/sprite/company.png?4103596287618';
$company-relative01-03: (0px, 1777px, 0px, -1777px, 62px, 64px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-relative01_03', );
$company-relative01-04-name: 'company-relative01_04';
$company-relative01-04-x: 0px;
$company-relative01-04-y: 1856px;
$company-relative01-04-offset-x: 0px;
$company-relative01-04-offset-y: -1856px;
$company-relative01-04-width: 65px;
$company-relative01-04-height: 63px;
$company-relative01-04-total-width: 230px;
$company-relative01-04-total-height: 2937px;
$company-relative01-04-image: '../../images/sprite/company.png?4103596287618';
$company-relative01-04: (0px, 1856px, 0px, -1856px, 65px, 63px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-relative01_04', );
$company-relative01-05-name: 'company-relative01_05';
$company-relative01-05-x: 0px;
$company-relative01-05-y: 1934px;
$company-relative01-05-offset-x: 0px;
$company-relative01-05-offset-y: -1934px;
$company-relative01-05-width: 66px;
$company-relative01-05-height: 64px;
$company-relative01-05-total-width: 230px;
$company-relative01-05-total-height: 2937px;
$company-relative01-05-image: '../../images/sprite/company.png?4103596287618';
$company-relative01-05: (0px, 1934px, 0px, -1934px, 66px, 64px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-relative01_05', );
$company-relative01-06-name: 'company-relative01_06';
$company-relative01-06-x: 0px;
$company-relative01-06-y: 2013px;
$company-relative01-06-offset-x: 0px;
$company-relative01-06-offset-y: -2013px;
$company-relative01-06-width: 63px;
$company-relative01-06-height: 60px;
$company-relative01-06-total-width: 230px;
$company-relative01-06-total-height: 2937px;
$company-relative01-06-image: '../../images/sprite/company.png?4103596287618';
$company-relative01-06: (0px, 2013px, 0px, -2013px, 63px, 60px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-relative01_06', );
$company-relative01-07-name: 'company-relative01_07';
$company-relative01-07-x: 0px;
$company-relative01-07-y: 2088px;
$company-relative01-07-offset-x: 0px;
$company-relative01-07-offset-y: -2088px;
$company-relative01-07-width: 63px;
$company-relative01-07-height: 66px;
$company-relative01-07-total-width: 230px;
$company-relative01-07-total-height: 2937px;
$company-relative01-07-image: '../../images/sprite/company.png?4103596287618';
$company-relative01-07: (0px, 2088px, 0px, -2088px, 63px, 66px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-relative01_07', );
$company-relative01-08-name: 'company-relative01_08';
$company-relative01-08-x: 0px;
$company-relative01-08-y: 2169px;
$company-relative01-08-offset-x: 0px;
$company-relative01-08-offset-y: -2169px;
$company-relative01-08-width: 230px;
$company-relative01-08-height: 165px;
$company-relative01-08-total-width: 230px;
$company-relative01-08-total-height: 2937px;
$company-relative01-08-image: '../../images/sprite/company.png?4103596287618';
$company-relative01-08: (0px, 2169px, 0px, -2169px, 230px, 165px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-relative01_08', );
$company-value01-name: 'company-value01';
$company-value01-x: 0px;
$company-value01-y: 2349px;
$company-value01-offset-x: 0px;
$company-value01-offset-y: -2349px;
$company-value01-width: 64px;
$company-value01-height: 56px;
$company-value01-total-width: 230px;
$company-value01-total-height: 2937px;
$company-value01-image: '../../images/sprite/company.png?4103596287618';
$company-value01: (0px, 2349px, 0px, -2349px, 64px, 56px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-value01', );
$company-value02-name: 'company-value02';
$company-value02-x: 0px;
$company-value02-y: 2420px;
$company-value02-offset-x: 0px;
$company-value02-offset-y: -2420px;
$company-value02-width: 46px;
$company-value02-height: 64px;
$company-value02-total-width: 230px;
$company-value02-total-height: 2937px;
$company-value02-image: '../../images/sprite/company.png?4103596287618';
$company-value02: (0px, 2420px, 0px, -2420px, 46px, 64px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-value02', );
$company-value03-name: 'company-value03';
$company-value03-x: 0px;
$company-value03-y: 2499px;
$company-value03-offset-x: 0px;
$company-value03-offset-y: -2499px;
$company-value03-width: 64px;
$company-value03-height: 64px;
$company-value03-total-width: 230px;
$company-value03-total-height: 2937px;
$company-value03-image: '../../images/sprite/company.png?4103596287618';
$company-value03: (0px, 2499px, 0px, -2499px, 64px, 64px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-value03', );
$company-value-indi-icon-name: 'company-value_indi_icon';
$company-value-indi-icon-x: 0px;
$company-value-indi-icon-y: 2578px;
$company-value-indi-icon-offset-x: 0px;
$company-value-indi-icon-offset-y: -2578px;
$company-value-indi-icon-width: 21px;
$company-value-indi-icon-height: 21px;
$company-value-indi-icon-total-width: 230px;
$company-value-indi-icon-total-height: 2937px;
$company-value-indi-icon-image: '../../images/sprite/company.png?4103596287618';
$company-value-indi-icon: (0px, 2578px, 0px, -2578px, 21px, 21px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-value_indi_icon', );
$company-value-next-name: 'company-value_next';
$company-value-next-x: 0px;
$company-value-next-y: 2614px;
$company-value-next-offset-x: 0px;
$company-value-next-offset-y: -2614px;
$company-value-next-width: 30px;
$company-value-next-height: 30px;
$company-value-next-total-width: 230px;
$company-value-next-total-height: 2937px;
$company-value-next-image: '../../images/sprite/company.png?4103596287618';
$company-value-next: (0px, 2614px, 0px, -2614px, 30px, 30px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-value_next', );
$company-value-prev-name: 'company-value_prev';
$company-value-prev-x: 0px;
$company-value-prev-y: 2659px;
$company-value-prev-offset-x: 0px;
$company-value-prev-offset-y: -2659px;
$company-value-prev-width: 30px;
$company-value-prev-height: 30px;
$company-value-prev-total-width: 230px;
$company-value-prev-total-height: 2937px;
$company-value-prev-image: '../../images/sprite/company.png?4103596287618';
$company-value-prev: (0px, 2659px, 0px, -2659px, 30px, 30px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-value_prev', );
$company-value-system-arrow-name: 'company-value_system_arrow';
$company-value-system-arrow-x: 0px;
$company-value-system-arrow-y: 2704px;
$company-value-system-arrow-offset-x: 0px;
$company-value-system-arrow-offset-y: -2704px;
$company-value-system-arrow-width: 35px;
$company-value-system-arrow-height: 65px;
$company-value-system-arrow-total-width: 230px;
$company-value-system-arrow-total-height: 2937px;
$company-value-system-arrow-image: '../../images/sprite/company.png?4103596287618';
$company-value-system-arrow: (0px, 2704px, 0px, -2704px, 35px, 65px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-value_system_arrow', );
$company-value-system-logo-name: 'company-value_system_logo';
$company-value-system-logo-x: 0px;
$company-value-system-logo-y: 2784px;
$company-value-system-logo-offset-x: 0px;
$company-value-system-logo-offset-y: -2784px;
$company-value-system-logo-width: 154px;
$company-value-system-logo-height: 25px;
$company-value-system-logo-total-width: 230px;
$company-value-system-logo-total-height: 2937px;
$company-value-system-logo-image: '../../images/sprite/company.png?4103596287618';
$company-value-system-logo: (0px, 2784px, 0px, -2784px, 154px, 25px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-value_system_logo', );
$company-vision01-name: 'company-vision01';
$company-vision01-x: 0px;
$company-vision01-y: 2824px;
$company-vision01-offset-x: 0px;
$company-vision01-offset-y: -2824px;
$company-vision01-width: 111px;
$company-vision01-height: 113px;
$company-vision01-total-width: 230px;
$company-vision01-total-height: 2937px;
$company-vision01-image: '../../images/sprite/company.png?4103596287618';
$company-vision01: (0px, 2824px, 0px, -2824px, 111px, 113px, 230px, 2937px, '../../images/sprite/company.png?4103596287618', 'company-vision01', );
$company-width: 230px;
$company-height: 2937px;
$company-image: '../../images/sprite/company.png?4103596287618';
$company-sprites: ($company-behavior01, $company-behavior02, $company-behavior03, $company-blt-value-off, $company-blt-value-on, $company-btn-next01, $company-btn-play, $company-btn-prev01, $company-ci01, $company-ci02, $company-ci03, $company-ci04, $company-ci05, $company-ci06, $company-gallery-next, $company-gallery-next02, $company-gallery-prev, $company-gallery-prev02, $company-history-left, $company-history-next, $company-history-off, $company-history-on, $company-history-prev, $company-history-right, $company-link-arrow, $company-location01, $company-location02, $company-location03, $company-relative01-01, $company-relative01-02, $company-relative01-03, $company-relative01-04, $company-relative01-05, $company-relative01-06, $company-relative01-07, $company-relative01-08, $company-value01, $company-value02, $company-value03, $company-value-indi-icon, $company-value-next, $company-value-prev, $company-value-system-arrow, $company-value-system-logo, $company-vision01, );
$company: (230px, 2937px, '../../images/sprite/company.png?4103596287618', $company-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
