// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$etc-btn-arrow01-name: 'etc-btn_arrow01';
$etc-btn-arrow01-x: 0px;
$etc-btn-arrow01-y: 0px;
$etc-btn-arrow01-offset-x: 0px;
$etc-btn-arrow01-offset-y: 0px;
$etc-btn-arrow01-width: 5px;
$etc-btn-arrow01-height: 10px;
$etc-btn-arrow01-total-width: 8px;
$etc-btn-arrow01-total-height: 40px;
$etc-btn-arrow01-image: '../../images/sprite/etc.png?4103601599074';
$etc-btn-arrow01: (0px, 0px, 0px, 0px, 5px, 10px, 8px, 40px, '../../images/sprite/etc.png?4103601599074', 'etc-btn_arrow01', );
$etc-depth01-name: 'etc-depth01';
$etc-depth01-x: 0px;
$etc-depth01-y: 25px;
$etc-depth01-offset-x: 0px;
$etc-depth01-offset-y: -25px;
$etc-depth01-width: 8px;
$etc-depth01-height: 15px;
$etc-depth01-total-width: 8px;
$etc-depth01-total-height: 40px;
$etc-depth01-image: '../../images/sprite/etc.png?4103601599074';
$etc-depth01: (0px, 25px, 0px, -25px, 8px, 15px, 8px, 40px, '../../images/sprite/etc.png?4103601599074', 'etc-depth01', );
$etc-width: 8px;
$etc-height: 40px;
$etc-image: '../../images/sprite/etc.png?4103601599074';
$etc-sprites: ($etc-btn-arrow01, $etc-depth01, );
$etc: (8px, 40px, '../../images/sprite/etc.png?4103601599074', $etc-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
