@charset "UTF-8";
#content{
	.main{ overflow:hidden; padding-bottom:150px;
		#section01{width:100%; height:770px; position: relative;
			.main-section{width: 100%; height: 100vh; min-width: 100%; min-height: 100%; max-height: 770px; background: url('../../images/main/main_bg.jpg') no-repeat center center; background-size: cover;
				.main_bg_calli{ opacity:0; max-width: 1000px; margin: 0 auto; text-align: left; position: relative; height:100%;
					.wrap{ position: relative; padding-top:247px;
						> img{width:100%;}
						.tin{ position: absolute; bottom:0; right:162px;
							&:before{ position: absolute; left:0; bottom:0; width:100%; height:12px; background-color:#ffd800; content:"";}
							span{ position: relative; z-index: 1; font-size:22px; color: #153124; font-family: 'notosans-regular';}
						}
					}
				}
				> img{display:none;}
				.m-con-wrap{display:none;}
			}
		}
		#section02{
			.content {width:84.2% !important; margin:0 auto;
				.mslider_wrap01 {padding:280px 0 0;
					.card_wrap {width:100%; padding-top:0;
						&:before{content:""; display:block; position: absolute; width:642px; height:184px; top:105px; background:url('../../images/main/slide_section1_title.png') no-repeat;}
						&:after{content: " "; display: block; clear: both;}
						.slick-list {overflow: visible !important;
							> div{
								li{padding:0 20px;
									&.card01_wrap{ padding-left:0;}
									a{outline: none !important; display: block;
										.card_inner {float:right; position:relative;
											.tilt-wrap{ overflow: hidden; position: relative;
												img{display:block; max-width:100%; height:auto; vertical-align: top; border-style: none;}
											}
											.pad{ position: absolute; top:0; width:100%; height:100%; padding:68px 0 0 30px; @include boxSizing;
												.tit-wrap{
													.sub_tit{ font-size: 18px; color: #1b1b1b; font-family:'Montserrat-Medium', 'notosans-regular';}
													.tit{ font-size: 36px; color: #1b1b1b; font-family: 'notosans-regular'; letter-spacing:-1px; margin-top: 4px; line-height:40px;
														span{display:block;}
													}
												}
												.txt-wrap{ position: relative; margin-top:19px; padding-top:17px;
													&:before{ position: absolute; top:0; left:-30px; width:120px; height:1px; background: #1b1b1b; content:"";}
													.txt{ font-size: 18px; color: #575757; font-family: 'notosans-regular'; line-height: 24px; letter-spacing:-0.5px;}
												}
												.more-bt{display:inline-block; margin-top:24px; width:50px; height:50px; background:url('../../images/main/thumb_more.png') no-repeat; @include transition(); text-indent: -9999px;}
												.card_sub_img {position:absolute; z-index: 100;}

												&.c-white{
													.tit-wrap{
														.sub_tit{ color: #fff; }
														.tit{ color: #fff; }
													}
													.txt-wrap{
														&:before{ background: #fff; }
														.txt{ color: #fff; }
													}
													.more-bt{ background:url('../../images/main/thumb_more_w.png') no-repeat; }
												}
											}

											&.card02{
												.pad{
													.card_sub_img {top:105px; right:-80px;}
												}
											}
											&.card04{
												.pad{
													.card_sub_img {bottom:100px; right:-74px;}
												}
											}
											&.card06{
												.pad{
													.card_sub_img {bottom:-12px; right:-39px;}
												}
											}

											&.hover{
												.tilt-wrap{
													img{-webkit-transform: scale(1.1); transform: scale(1.1); transition-duration: 0.5s;}
												}
												.pad{
													.more-bt{background:url('../../images/main/thumb_more_hover.png') no-repeat;}
												}
											}
										}
									}
								}
							}
						}
						.slick-arrow{width:55px; height:55px; position: absolute; z-index:10; text-indent: -9999px;
							&.slick-prev.slick-arrow{right:215px; top:210px;background: url("../../images/main/roll_bt_left.png") no-repeat; background-size: 55px 55px;@include borderRadius(100%);
								&:hover{background: url("../../images/main/roll_bt_left_on.png") no-repeat; }
								&.slick-disabled{background: url("../../images/main/roll_bt_left.png") no-repeat;}
							}
							&.slick-next.slick-arrow{right:150px; top:210px;background: url("../../images/main/roll_bt_right.png") no-repeat; background-size: 55px 55px;@include borderRadius(100%);
								&:hover{background: url("../../images/main/roll_bt_right_on.png") no-repeat;}
								&.slick-disabled{background: url("../../images/main/roll_bt_right.png") no-repeat;}
							}
						}
						.slick-dots{position: absolute; bottom: 0; left: 0; width:100%; height:2px; display:none; padding:0 10px; box-sizing:border-box;
							li{display:inline-block;  height:2px; background:#e1e1e1; width:20%; float:left; margin-top:1px;
								div{width:100%; height:4px; margin-top:-1px; cursor: pointer;}
								&.slick-active{
									div{width:100%; height:4px; background:#0068b7; margin-top:-1px; cursor: pointer;}
								}
							}
						}
					}
				}
			}
		}
		#section03{
			.content {width:84.2% !important; margin:0 auto;
				.mslider_wrap01 {padding:290px 0 0;
					.card_wrap {width:100%; padding-top:0;
						&:before{content:""; display:block; position: absolute; width:790px; height:186px; top:112px; background:url('../../images/main/slide_section2_title.png') no-repeat;}
						&:after{content: " "; display: block; clear: both;}
						.slick-list {overflow: visible !important;
							> div{
								li{padding:0 20px;
									&.card01_wrap{ padding-left:0;}
									a{outline: none !important; display: block;
										.card_inner {float:right; position:relative;
											.tilt-wrap{ overflow: hidden; position: relative;
												img{display:block; max-width:100%; height:auto; vertical-align: top; border-style: none;}
											}
											.pad{ position: absolute; top:0; width:100%; height:100%; padding:68px 0 0 30px; @include boxSizing;
												.tit-wrap{
													.sub_tit{ font-size: 18px; color: #1b1b1b; font-family:'Montserrat-Medium', 'notosans-regular';}
													.tit{ font-size: 36px; color: #1b1b1b; font-family: 'notosans-regular'; letter-spacing:-1px; margin-top: 4px; line-height:40px;
														span{display:block;}
													}
												}
												.txt-wrap{ position: relative; margin-top:19px; padding-top:17px;
													&:before{ position: absolute; top:0; left:-30px; width:120px; height:1px; background: #1b1b1b; content:"";}
													.txt{ font-size: 18px; color: #575757; font-family: 'notosans-regular'; line-height: 24px; letter-spacing:-0.5px;}
												}
												.more-bt{display:inline-block; margin-top:24px; width:50px; height:50px; background:url('../../images/main/thumb_more.png') no-repeat; @include transition(); text-indent: -9999px;}
												.card_sub_img {position:absolute; z-index: 100;}

												&.c-white{
													.tit-wrap{
														.sub_tit{ color: #fff; }
														.tit{ color: #fff; }
													}
													.txt-wrap{
														&:before{ background: #fff; }
														.txt{ color: #fff; }
													}
													.more-bt{ background:url('../../images/main/thumb_more_w.png') no-repeat; }
												}
											}

											&.card02{
												.pad{
													.card_sub_img {top:105px; right:-80px;}
												}
											}
											&.card03{
												.pad{
													.card_sub_img {top:15px; right:-60px;}
												}
											}
											&.card04{
												.pad{
													.card_sub_img {bottom:-17px; right:-74px;}
												}
											}
											&.card06{
												.pad{
													.card_sub_img {bottom:-12px; right:-39px;}
												}
											}

											&.hover{
												.tilt-wrap{
													img{-webkit-transform: scale(1.1); transform: scale(1.1); transition-duration: 0.5s;}
												}
												.pad{
													.more-bt{background:url('../../images/main/thumb_more_hover.png') no-repeat;}
												}
											}
										}
									}
								}
							}
						}
						.slick-arrow{width:55px; height:55px; position: absolute; z-index:10; text-indent: -9999px;
							&.slick-prev.slick-arrow{right:215px; top:210px;background: url("../../images/main/roll_bt_left.png") no-repeat; background-size: 55px 55px;@include borderRadius(100%);
								&:hover{background: url("../../images/main/roll_bt_left_on.png") no-repeat; }
								&.slick-disabled{background: url("../../images/main/roll_bt_left.png") no-repeat;}
							}
							&.slick-next.slick-arrow{right:150px; top:210px;background: url("../../images/main/roll_bt_right.png") no-repeat; background-size: 55px 55px;@include borderRadius(100%);
								&:hover{background: url("../../images/main/roll_bt_right_on.png") no-repeat;}
								&.slick-disabled{background: url("../../images/main/roll_bt_right.png") no-repeat;}
							}
						}
						.slick-dots{position: absolute; bottom: 0; left: 0; width:100%; height:2px; display:none; padding:0 10px; box-sizing:border-box;
							li{display:inline-block;  height:2px; background:#e1e1e1; width:20%; float:left; margin-top:1px;
								div{width:100%; height:4px; margin-top:-1px; cursor: pointer;}
								&.slick-active{
									div{width:100%; height:4px; background:#0068b7; margin-top:-1px; cursor: pointer;}
								}
							}
						}
					}
				}
			}
		}
		#section04{
			.content {width:84.2% !important; margin:0 auto;
				.mslider_wrap01 {padding:290px 0 100px;
					.card_wrap {width:100%; padding-top:0;
						&:before{content:""; display:block; position: absolute; width:644px; height:184px; top:115px; background:url('../../images/main/slide_section3_title.png') no-repeat;}

						&:after{content: " "; display: block; clear: both;}
						.slick-list {overflow: visible !important;
							> div{
								li{padding:0 20px;
									&.card01_wrap{ padding-left:0;}
									a{outline: none !important; display: block;
										.card_inner {float:right; position:relative;
											.tilt-wrap{ overflow: hidden; position: relative;
												img{display:block; max-width:100%; height:auto; vertical-align: top; border-style: none;}
											}
											.pad{ position: absolute; top:0; width:100%; height:100%; padding:68px 0 0 30px; @include boxSizing;
												.tit-wrap{
													.sub_tit{ font-size: 18px; color: #1b1b1b; font-family:'Montserrat-Medium', 'notosans-regular';}
													.tit{ font-size: 36px; color: #1b1b1b; font-family: 'notosans-regular'; letter-spacing:-1px; margin-top: 4px; line-height:40px;
														span{display:block;}
													}
												}
												.txt-wrap{ position: relative; margin-top:19px; padding-top:17px;
													&:before{ position: absolute; top:0; left:-30px; width:120px; height:1px; background: #1b1b1b; content:"";}
													.txt{ font-size: 18px; color: #575757; font-family: 'notosans-regular'; line-height: 24px; letter-spacing:-0.5px;}
												}
												.more-bt{display:inline-block; margin-top:24px; width:50px; height:50px; background:url('../../images/main/thumb_more.png') no-repeat; @include transition(); text-indent: -9999px;}
												.card_sub_img {position:absolute; z-index: 100;}

												&.c-white{
													.tit-wrap{
														.sub_tit{ color: #fff; }
														.tit{ color: #fff; }
													}
													.txt-wrap{
														&:before{ background: #fff; }
														.txt{ color: #fff; }
													}
													.more-bt{ background:url('../../images/main/thumb_more_w.png') no-repeat; }
												}
											}


											&.card01{
												.pad{
													.card_sub_img {bottom:-68px; right:-40px;}
												}
											}
											&.card02{
												.pad{
													.card_sub_img {top:105px; right:-80px;}
												}
											}
											&.card03{
												.pad{
													.card_sub_img {top:15px; right:-60px;}
												}
											}
											&.card04{
												.pad{
													.card_sub_img {bottom:5px; left:-55px;}
												}
											}
											&.card06{
												.pad{
													.card_sub_img {bottom:-62px; right:-54px;}
												}
											}

											&.hover{
												.tilt-wrap{
													img{-webkit-transform: scale(1.1); transform: scale(1.1); transition-duration: 0.5s;}
												}
												.pad{
													.more-bt{background:url('../../images/main/thumb_more_hover.png') no-repeat;}
												}
											}
										}
									}
								}
							}
						}
						.slick-arrow{width:55px; height:55px; position: absolute; z-index:10; text-indent: -9999px;
							&.slick-prev.slick-arrow{right:215px; top:210px;background: url("../../images/main/roll_bt_left.png") no-repeat; background-size: 55px 55px;@include borderRadius(100%);
								&:hover{background: url("../../images/main/roll_bt_left_on.png") no-repeat; }
								&.slick-disabled{background: url("../../images/main/roll_bt_left.png") no-repeat;}
							}
							&.slick-next.slick-arrow{right:150px; top:210px;background: url("../../images/main/roll_bt_right.png") no-repeat; background-size: 55px 55px;@include borderRadius(100%);
								&:hover{background: url("../../images/main/roll_bt_right_on.png") no-repeat;}
								&.slick-disabled{background: url("../../images/main/roll_bt_right.png") no-repeat;}
							}
						}
						.slick-dots{position: absolute; bottom: 0; left: 0; width:100%; height:2px; display:none; padding:0 10px; box-sizing:border-box;
							li{display:inline-block;  height:2px; background:#e1e1e1; width:20%; float:left; margin-top:1px;
								div{width:100%; height:4px; margin-top:-1px; cursor: pointer;}
								&.slick-active{
									div{width:100%; height:4px; background:#0068b7; margin-top:-1px; cursor: pointer;}
								}
							}
						}
					}
				}
			}
		}
	}
	.pc-view{display:block !important;}
	.mo-view{display:none !important;}
}

/* .card_inner.hover .more_btn {display: block;} */
@media all and (max-width:992px) {
	#content{
		.main{ overflow:hidden; padding-bottom:120px;
			#section01{width:100%; height:630px; position: relative;
				.main-section{width: 100%; height: 100%; min-width: 100%; min-height: 100%; max-height: 100%; background: url('../../images/main/main_bg.jpg') no-repeat center center; background-size: cover;
					.main_bg_calli{ opacity:0; max-width: 1000px; margin: 0 auto; text-align: left; position: relative; height:100%;
						.wrap{ position: relative; padding-top:200px;
							> img{width:100%;}
							.tin{ position: absolute; bottom:-20px; right:120px;
								&:before{ position: absolute; left:0; bottom:0; width:100%; height:12px; background-color:#ffd800; content:"";}
								span{ position: relative; z-index: 1; font-size:22px; color: #153124; font-family: 'notosans-regular';}
							}
						}
					}
					> img{display:none;}
					.m-con-wrap{display:none;}
				}
			}
			#section02{
				.content {width:84.2% !important; margin:0 auto;
					.mslider_wrap01 {padding:220px 0 0;
						.card_wrap {width:100%; padding-top:0;
							&:before{content:""; display:block; position: absolute; width:419px; height:120px; top:115px; background:url('../../images/main/slide_section1_title.png') no-repeat; background-size:419px 120px;}
							&:after{content: " "; display: block; clear: both;}
							.slick-list {overflow: visible !important;
								> div{
									li{padding:0 20px;
										&.card01_wrap{ padding-left:0;}
										a{outline: none !important; display: block;
											.card_inner {float:right; position:relative;
												.tilt-wrap{ overflow: hidden; position: relative;
													img{display:block; max-width:100%; height:auto; vertical-align: top; border-style: none;}
												}
												.pad{ position: absolute; top:0; width:100%; height:100%; padding:68px 0 0 30px; @include boxSizing;
													.tit-wrap{
														.sub_tit{ font-size: 18px; color: #1b1b1b; font-family:'Montserrat-Medium', 'notosans-regular';}
														.tit{ font-size: 36px; color: #1b1b1b; font-family: 'notosans-regular'; letter-spacing:-1px; margin-top: 4px; line-height:42px;}
													}
													.txt-wrap{ position: relative; margin-top:19px; padding-top:17px;
														&:before{ position: absolute; top:0; left:-30px; width:120px; height:1px; background: #1b1b1b; content:"";}
														.txt{ font-size: 18px; color: #575757; font-family: 'notosans-regular'; line-height: 24px; letter-spacing:-0.5px;}
													}
													.more-bt{display:inline-block; margin-top:37px; width:50px; height:50px; background:url('../../images/main/thumb_more.png') no-repeat; @include transition(); text-indent: -9999px;}
													.card_sub_img {position:absolute; z-index: 100;}

													&.c-white{
														.tit-wrap{
															.sub_tit{ color: #fff; }
															.tit{ color: #fff; }
														}
														.txt-wrap{
															&:before{ background: #fff; }
															.txt{ color: #fff; }
														}
														.more-bt{ background:url('../../images/main/thumb_more_w.png') no-repeat; }
													}
												}

												&.card02{
													.pad{
														.card_sub_img {bottom:130px; right:-55px;}
													}
												}
												&.card04{
													.pad{
														.card_sub_img {bottom:100px; right:-74px;}
													}
												}
												&.card06{
													.pad{
														.card_sub_img {bottom:-12px; right:-39px;}
													}
												}

												&.hover{
													.tilt-wrap{
														img{-webkit-transform: scale(1.1); transform: scale(1.1); transition-duration: 0.5s;}
													}
													.pad{
														.more-bt{background:url('../../images/main/thumb_more_hover.png') no-repeat;}
													}
												}
											}
										}
									}
								}
							}
							.slick-arrow{width:55px; height:55px; position: absolute; z-index:10; text-indent: -9999px;
								&.slick-prev.slick-arrow{right:215px; top:210px;background: url("../../images/main/roll_bt_left.png") no-repeat; background-size: 55px 55px;
									&:hover{background: url("../../images/main/roll_bt_left_on.png") no-repeat;}
									&.slick-disabled{background: url("../../images/main/roll_bt_left.png") no-repeat;}
								}
								&.slick-next.slick-arrow{right:150px; top:210px;background: url("../../images/main/roll_bt_right.png") no-repeat; background-size: 55px 55px;
									&:hover{background: url("../../images/main/roll_bt_right_on.png") no-repeat;}
									&.slick-disabled{background: url("../../images/main/roll_bt_right.png") no-repeat;}
								}
							}
							.slick-dots{position: absolute; bottom: 0; left: 0; width:100%; height:2px; display:none; padding:0 10px; box-sizing:border-box;
								li{display:inline-block;  height:2px; background:#e1e1e1; width:20%; float:left; margin-top:1px;
									div{width:100%; height:4px; margin-top:-1px; cursor: pointer;}
									&.slick-active{
										div{width:100%; height:4px; background:#0068b7; margin-top:-1px; cursor: pointer;}
									}
								}
							}
						}
					}
				}
			}
			#section03{
				.content {width:84.2% !important; margin:0 auto;
					.mslider_wrap01 {padding:220px 0 0;
						.card_wrap {width:100%; padding-top:0;
							&:before{content:""; display:block; position: absolute; width:510px; height:120px; top:115px; background:url('../../images/main/slide_section2_title.png') no-repeat; background-size: 510px 120px;}
							&:after{content: " "; display: block; clear: both;}
							.slick-list {overflow: visible !important;
								> div{
									li{padding:0 20px;
										&.card01_wrap{ padding-left:0;}
										a{outline: none !important; display: block;
											.card_inner {float:right; position:relative;
												.tilt-wrap{ overflow: hidden; position: relative;
													img{display:block; max-width:100%; height:auto; vertical-align: top; border-style: none;}
												}
												.pad{ position: absolute; top:0; width:100%; height:100%; padding:68px 0 0 30px; @include boxSizing;
													.tit-wrap{
														.sub_tit{ font-size: 18px; color: #1b1b1b; font-family:'Montserrat-Medium', 'notosans-regular';}
														.tit{ font-size: 36px; color: #1b1b1b; font-family: 'notosans-regular'; letter-spacing:-1px; margin-top: 4px; line-height:42px;}
													}
													.txt-wrap{ position: relative; margin-top:19px; padding-top:17px;
														&:before{ position: absolute; top:0; left:-30px; width:120px; height:1px; background: #1b1b1b; content:"";}
														.txt{ font-size: 18px; color: #575757; font-family: 'notosans-regular'; line-height: 24px; letter-spacing:-0.5px;}
													}
													.more-bt{display:inline-block; margin-top:37px; width:50px; height:50px; background:url('../../images/main/thumb_more.png') no-repeat; @include transition(); text-indent: -9999px;}
													.card_sub_img {position:absolute; z-index: 100;}

													&.c-white{
														.tit-wrap{
															.sub_tit{ color: #fff; }
															.tit{ color: #fff; }
														}
														.txt-wrap{
															&:before{ background: #fff; }
															.txt{ color: #fff; }
														}
														.more-bt{ background:url('../../images/main/thumb_more_w.png') no-repeat; }
													}
												}

												&.card02{
													.pad{
														.card_sub_img {bottom:130px; right:-55px;}
													}
												}
												&.card04{
													.pad{
														.card_sub_img {bottom:100px; right:-74px;}
													}
												}
												&.card06{
													.pad{
														.card_sub_img {bottom:-12px; right:-39px;}
													}
												}

												&.hover{
													.tilt-wrap{
														img{-webkit-transform: scale(1.1); transform: scale(1.1); transition-duration: 0.5s;}
													}
													.pad{
														.more-bt{background:url('../../images/main/thumb_more_hover.png') no-repeat;}
													}
												}
											}
										}
									}
								}
							}
							.slick-arrow{width:55px; height:55px; position: absolute; z-index:10; text-indent: -9999px;
								&.slick-prev.slick-arrow{right:215px; top:210px;background: url("../../images/main/roll_bt_left.png") no-repeat; background-size: 55px 55px;
									&:hover{background: url("../../images/main/roll_bt_left_on.png") no-repeat;}
									&.slick-disabled{background: url("../../images/main/roll_bt_left.png") no-repeat;}
								}
								&.slick-next.slick-arrow{right:150px; top:210px;background: url("../../images/main/roll_bt_right.png") no-repeat; background-size: 55px 55px;
									&:hover{background: url("../../images/main/roll_bt_right_on.png") no-repeat;}
									&.slick-disabled{background: url("../../images/main/roll_bt_right.png") no-repeat;}
								}
							}
							.slick-dots{position: absolute; bottom: 0; left: 0; width:100%; height:2px; display:none; padding:0 10px; box-sizing:border-box;
								li{display:inline-block;  height:2px; background:#e1e1e1; width:20%; float:left; margin-top:1px;
									div{width:100%; height:4px; margin-top:-1px; cursor: pointer;}
									&.slick-active{
										div{width:100%; height:4px; background:#0068b7; margin-top:-1px; cursor: pointer;}
									}
								}
							}
						}
					}
				}
			}
			#section04{
				.content {width:84.2% !important; margin:0 auto;
					.mslider_wrap01 {padding:220px 0 0;
						.card_wrap {width:100%; padding-top:0;
							&:before{content:""; display:block; position: absolute; width:420px; height:120px; top:115px; background:url('../../images/main/slide_section3_title.png') no-repeat; background-size: 420px 120px;}
							&:after{content: " "; display: block; clear: both;}
							.slick-list {overflow: visible !important;
								> div{
									li{padding:0 20px;
										&.card01_wrap{ padding-left:0;}
										a{outline: none !important; display: block;
											.card_inner {float:right; position:relative;
												.tilt-wrap{ overflow: hidden; position: relative;
													img{display:block; max-width:100%; height:auto; vertical-align: top; border-style: none;}
												}
												.pad{ position: absolute; top:0; width:100%; height:100%; padding:68px 0 0 30px; @include boxSizing;
													.tit-wrap{
														.sub_tit{ font-size: 18px; color: #1b1b1b; font-family:'Montserrat-Medium', 'notosans-regular';}
														.tit{ font-size: 36px; color: #1b1b1b; font-family: 'notosans-regular'; letter-spacing:-1px; margin-top: 4px; line-height:42px;}
													}
													.txt-wrap{ position: relative; margin-top:19px; padding-top:17px;
														&:before{ position: absolute; top:0; left:-30px; width:120px; height:1px; background: #1b1b1b; content:"";}
														.txt{ font-size: 18px; color: #575757; font-family: 'notosans-regular'; line-height: 24px; letter-spacing:-0.5px;}
													}
													.more-bt{display:inline-block; margin-top:37px; width:50px; height:50px; background:url('../../images/main/thumb_more.png') no-repeat; @include transition(); text-indent: -9999px;}
													.card_sub_img {position:absolute; z-index: 100;}

													&.c-white{
														.tit-wrap{
															.sub_tit{ color: #fff; }
															.tit{ color: #fff; }
														}
														.txt-wrap{
															&:before{ background: #fff; }
															.txt{ color: #fff; }
														}
														.more-bt{ background:url('../../images/main/thumb_more_w.png') no-repeat; }
													}
												}

												&.card02{
													.pad{
														.card_sub_img {bottom:130px; right:-55px;}
													}
												}
												&.card04{
													.pad{
														.card_sub_img {bottom:100px; right:-74px;}
													}
												}
												&.card06{
													.pad{
														.card_sub_img {bottom:-12px; right:-39px;}
													}
												}

												&.hover{
													.tilt-wrap{
														img{-webkit-transform: scale(1.1); transform: scale(1.1); transition-duration: 0.5s;}
													}
													.pad{
														.more-bt{background:url('../../images/main/thumb_more_hover.png') no-repeat;}
													}
												}
											}
										}
									}
								}
							}
							.slick-arrow{width:55px; height:55px; position: absolute; z-index:10; text-indent: -9999px;
								&.slick-prev.slick-arrow{right:215px; top:210px;background: url("../../images/main/roll_bt_left.png") no-repeat; background-size: 55px 55px;
									&:hover{background: url("../../images/main/roll_bt_left_on.png") no-repeat;}
									&.slick-disabled{background: url("../../images/main/roll_bt_left.png") no-repeat;}
								}
								&.slick-next.slick-arrow{right:150px; top:210px;background: url("../../images/main/roll_bt_right.png") no-repeat; background-size: 55px 55px;
									&:hover{background: url("../../images/main/roll_bt_right_on.png") no-repeat;}
									&.slick-disabled{background: url("../../images/main/roll_bt_right.png") no-repeat;}
								}
							}
							.slick-dots{position: absolute; bottom: 0; left: 0; width:100%; height:2px; display:none; padding:0 10px; box-sizing:border-box;
								li{display:inline-block;  height:2px; background:#e1e1e1; width:20%; float:left; margin-top:1px;
									div{width:100%; height:4px; margin-top:-1px; cursor: pointer;}
									&.slick-active{
										div{width:100%; height:4px; background:#0068b7; margin-top:-1px; cursor: pointer;}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media all and (max-width:768px) {
	#content{
		.main{ overflow:hidden; padding-bottom:90px;
			#section01{width:100%; height:100%; position: relative;
				.main-section{width: 100%; height: 100%; min-width: 100%; min-height: 100%; max-height: 100%; background: none;
					.main_bg_calli{display:none;}
					> img{display:block; width:100%;}
					.m-con-wrap{ display:block; width:100%; height:100%; position: absolute; top:0; left:0;
						.outer-wrap{width:100%; height:100%; text-align: center; padding-top:40%; @include boxSizing;
							.inner-wrap{width:100%; position: relative;
								img{width:100%;}
								.tin{ position: absolute; bottom:0; right:15%;
									&:before{ position: absolute; left:0; bottom:0; width:100%; height:6px; background-color:#ffd800; content:"";}
									span{ font-size:11px; color: #153124; position: relative; font-family: 'notosans-regular';}
								}
							}
							> img{width:60px; height:60px; display:inline-block; position: absolute; left:50%; margin-left:-30px; bottom:105px;}
						}
					}
				}
			}
			#section02{
				.content {margin-top:0; width:100% !important;
					.mslider_wrap01 { padding:105px 0 27px;
						.card_wrap {width:100%; padding-top:0;
							&:before{content:""; display:block; position: absolute; width:209px; height:61px; top:47px; left:10px; background:url('../../images/main/slide_section1_title.png') no-repeat; background-size:209px 61px;}
							&:after{content: " "; display: block; clear: both;}
							.slick-list {overflow: visible !important;
								> div{
									li{ padding:0 10px;
										&.card01_wrap{ padding-left:10px;}
										a{outline: none !important; display: block;
											.card_inner {float:right; position:relative; width:310px !important;
												.tilt-wrap{ overflow: hidden; position: relative;
													img{display:block; max-width:100%; height:auto; vertical-align: top; border-style: none;}
												}
												.pad{ position: absolute; top:0; width:100%; height:100%; padding:50px 0 0 20px; @include boxSizing;
													.tit-wrap{
														.sub_tit{ font-size: 16px; color: #1b1b1b; font-family:'Montserrat-Medium', 'notosans-regular';}
														.tit{ font-size: 26px; color: #1b1b1b; font-family: 'notosans-regular'; letter-spacing:-1px; margin-top:5px; line-height:30px;}
													}
													.txt-wrap{ position: relative; margin-top:14px; padding-top:14px;
														&:before{ position: absolute; top:0; left:-20px; width:120px; height:1px; background: #1b1b1b; content:"";}
														.txt{ font-size: 16px; color: #575757; font-family: 'notosans-regular'; line-height: 24px; letter-spacing:-0.5px;}
													}
													.more-bt{display:inline-block; margin-top:10px; width:21px; height:21px; background:url('../../images/main/thumb_more_m.png') no-repeat; background-size: 21px 21px; @include transition(); text-indent: -9999px;}
													.card_sub_img {position:absolute; z-index: 100;}

													&.c-white{
														.tit-wrap{
															.sub_tit{ color: #fff; }
															.tit{ color: #fff; }
														}
														.txt-wrap{
															&:before{ background: #fff; }
															.txt{ color: #fff; }
														}
														.more-bt{ background:url('../../images/main/thumb_more_w_m.png') no-repeat; background-size: 21px 21px; }
													}
												}

												&.card01{
													.pad{
														.card_sub_img {top:20px; right:-40px;
															img{width:120px;}
														}
													}
												}
												&.card02{
													.pad{
														.card_sub_img {top:70px; right:-50px;
															img{width:140px;}
														}
													}
												}
												&.card04{
													.pad{
														.card_sub_img {bottom:100px; right:-74px;}
													}
												}
												&.card06{
													.pad{
														.card_sub_img {bottom:-12px; right:-39px;}
													}
												}

												&.hover{
													.tilt-wrap{
														img{-webkit-transform: scale(1.1); transform: scale(1.1); transition-duration: 0.5s;}
													}
													.pad{
														.more-bt{background:url('../../images/main/thumb_more_m.png') no-repeat; background-size: 21px 21px;}
														&.c-white{
															.more-bt{ background:url('../../images/main/thumb_more_w_m.png') no-repeat; background-size: 21px 21px; }
														}
													}
												}
											}
										}
									}
								}
							}
							.slick-arrow{width:55px; height:55px; position: absolute; z-index:10; text-indent: -9999px;
								&.slick-prev.slick-arrow{right:215px; top:210px;background: url("../../images/main/roll_bt_left.png") no-repeat; background-size: 55px 55px;
									&:hover{background: url("../../images/main/roll_bt_left_on.png") no-repeat;}
									&.slick-disabled{background: url("../../images/main/roll_bt_left.png") no-repeat;}
								}
								&.slick-next.slick-arrow{right:150px; top:210px;background: url("../../images/main/roll_bt_right.png") no-repeat; background-size: 55px 55px;
									&:hover{background: url("../../images/main/roll_bt_right_on.png") no-repeat;}
									&.slick-disabled{background: url("../../images/main/roll_bt_right.png") no-repeat;}
								}
							}
							.slick-dots{position: absolute; bottom: 0; left: 0; width:100%; height:2px; display:none; padding:0 10px; box-sizing:border-box;
								li{display:inline-block;  height:2px; background:#e1e1e1; width:calc(100% / 3); float:left; margin-top:1px;
									div{width:100%; height:4px; margin-top:-1px; cursor: pointer;}
									&.slick-active{
										div{width:100%; height:4px; background:#007ac3; margin-top:-1px; cursor: pointer;}
									}
								}
							}
						}
					}
				}
			}
			#section03{
				.content {margin-top:0; width:100% !important;
					.mslider_wrap01 { padding:105px 0 27px;
						.card_wrap {width:100%; padding-top:0;
							&:before{content:""; display:block; position: absolute; width:209px; height:61px; top:53px; left:10px; background:url('../../images/main/slide_section2_title.png') no-repeat; background-size:264px 60px;}
							&:after{content: " "; display: block; clear: both;}
							.slick-list {overflow: visible !important;
								> div{
									li{ padding:0 10px;
										&.card01_wrap{ padding-left:10px;}
										a{outline: none !important; display: block;
											.card_inner {float:right; position:relative; width:310px !important;
												.tilt-wrap{ overflow: hidden; position: relative;
													img{display:block; max-width:100%; height:auto; vertical-align: top; border-style: none;}
												}
												.pad{ position: absolute; top:0; width:100%; height:100%; padding:50px 0 0 20px; @include boxSizing;
													.tit-wrap{
														.sub_tit{ font-size: 16px; color: #1b1b1b; font-family:'Montserrat-Medium', 'notosans-regular';}
														.tit{ font-size: 26px; color: #1b1b1b; font-family: 'notosans-regular'; letter-spacing:-1px; margin-top:5px; line-height:30px;}
													}
													.txt-wrap{ position: relative; margin-top:14px; padding-top:14px;
														&:before{ position: absolute; top:0; left:-20px; width:120px; height:1px; background: #1b1b1b; content:"";}
														.txt{ font-size: 16px; color: #575757; font-family: 'notosans-regular'; line-height: 24px; letter-spacing:-0.5px;}
													}
													.more-bt{display:inline-block; margin-top:10px; width:21px; height:21px; background:url('../../images/main/thumb_more_m.png') no-repeat; background-size: 21px 21px; @include transition(); text-indent: -9999px;}
													.card_sub_img {position:absolute; z-index: 100;}

													&.c-white{
														.tit-wrap{
															.sub_tit{ color: #fff; }
															.tit{ color: #fff; }
														}
														.txt-wrap{
															&:before{ background: #fff; }
															.txt{ color: #fff; }
														}
														.more-bt{ background:url('../../images/main/thumb_more_w_m.png') no-repeat; background-size: 21px 21px; }
													}
												}

												&.card01{
													.pad{
														.card_sub_img {top:20px; right:-40px;
															img{width:120px;}
														}
													}
												}
												&.card02{
													.pad{
														.card_sub_img {top:70px; right:-50px;
															img{width:140px;}
														}
													}
												}
												&.card03{
													.pad{
														.card_sub_img {top:20px; right:-50px;
															img{width:140px;}
														}
													}
												}
												&.card04{
													.pad{
														.card_sub_img {bottom:-10px; right:-74px;
															img{width:230px;}
														}
													}
												}
												&.card06{
													.pad{
														.card_sub_img {bottom:-12px; right:-39px;}
													}
												}

												&.hover{
													.tilt-wrap{
														img{-webkit-transform: scale(1.1); transform: scale(1.1); transition-duration: 0.5s;}
													}
													.pad{
														.more-bt{background:url('../../images/main/thumb_more_m.png') no-repeat; background-size: 21px 21px;}
														&.c-white{
															.more-bt{ background:url('../../images/main/thumb_more_w_m.png') no-repeat; background-size: 21px 21px; }
														}
													}
												}
											}
										}
									}
								}
							}
							.slick-arrow{width:55px; height:55px; position: absolute; z-index:10; text-indent: -9999px;
								&.slick-prev.slick-arrow{right:215px; top:210px;background: url("../../images/main/roll_bt_left.png") no-repeat; background-size: 55px 55px;
									&:hover{background: url("../../images/main/roll_bt_left_on.png") no-repeat;}
									&.slick-disabled{background: url("../../images/main/roll_bt_left.png") no-repeat;}
								}
								&.slick-next.slick-arrow{right:150px; top:210px;background: url("../../images/main/roll_bt_right.png") no-repeat; background-size: 55px 55px;
									&:hover{background: url("../../images/main/roll_bt_right_on.png") no-repeat;}
									&.slick-disabled{background: url("../../images/main/roll_bt_right.png") no-repeat;}
								}
							}
							.slick-dots{position: absolute; bottom: 0; left: 0; width:100%; height:2px; display:none; padding:0 10px; box-sizing:border-box;
								li{display:inline-block;  height:2px; background:#e1e1e1; width:calc(100% / 4); float:left; margin-top:1px;
									div{width:100%; height:4px; margin-top:-1px; cursor: pointer;}
									&.slick-active{
										div{width:100%; height:4px; background:#007ac3; margin-top:-1px; cursor: pointer;}
									}
								}
							}
						}
					}
				}
			}
			#section04{
				.content {margin-top:0; width:100% !important;
					.mslider_wrap01 { padding:110px 0 27px;
						.card_wrap {width:100%; padding-top:0;
							&:before{content:""; display:block; position: absolute; width:210px; height:60px; top:53px; left:10px; background:url('../../images/main/slide_section3_title.png') no-repeat; background-size:210px 60px;}
							&:after{content: " "; display: block; clear: both;}
							.slick-list {overflow: visible !important;
								> div{
									li{ padding:0 10px;
										&.card01_wrap{ padding-left:10px;}
										a{outline: none !important; display: block;
											.card_inner {float:right; position:relative; width:310px !important;
												.tilt-wrap{ overflow: hidden; position: relative;
													img{display:block; max-width:100%; height:auto; vertical-align: top; border-style: none;}
												}
												.pad{ position: absolute; top:0; width:100%; height:100%; padding:50px 0 0 20px; @include boxSizing;
													.tit-wrap{
														.sub_tit{ font-size: 16px; color: #1b1b1b; font-family:'Montserrat-Medium', 'notosans-regular';}
														.tit{ font-size: 26px; color: #1b1b1b; font-family: 'notosans-regular'; letter-spacing:-1px; margin-top:5px; line-height:30px;}
													}
													.txt-wrap{ position: relative; margin-top:14px; padding-top:14px;
														&:before{ position: absolute; top:0; left:-20px; width:120px; height:1px; background: #1b1b1b; content:"";}
														.txt{ font-size: 16px; color: #575757; font-family: 'notosans-regular'; line-height: 24px; letter-spacing:-0.5px;}
													}
													.more-bt{display:inline-block; margin-top:10px; width:21px; height:21px; background:url('../../images/main/thumb_more_m.png') no-repeat; background-size: 21px 21px; @include transition(); text-indent: -9999px;}
													.card_sub_img {position:absolute; z-index: 100;}

													&.c-white{
														.tit-wrap{
															.sub_tit{ color: #fff; }
															.tit{ color: #fff; }
														}
														.txt-wrap{
															&:before{ background: #fff; }
															.txt{ color: #fff; }
														}
														.more-bt{ background:url('../../images/main/thumb_more_w_m.png') no-repeat; background-size: 21px 21px; }
													}
												}

												&.card01{
													.pad{
														.card_sub_img {top:90px; right:-25px;
															img{width:160px;}
														}
													}
												}
												&.card02{
													.pad{
														.card_sub_img {top:70px; right:-50px;
															img{width:140px;}
														}
													}
												}
												&.card03{
													.pad{
														.card_sub_img {top:20px; right:-50px;
															img{width:140px;}
														}
													}
												}
												&.card04{
													.pad{
														.card_sub_img {bottom:-10px; right:-74px;
															img{width:150px;}
														}
													}
												}
												&.card06{
													.pad{
														.card_sub_img {bottom:-52px; right:-39px;
															img{width:250px;}
														}
													}
												}

												&.hover{
													.tilt-wrap{
														img{-webkit-transform: scale(1.1); transform: scale(1.1); transition-duration: 0.5s;}
													}
													.pad{
														.more-bt{background:url('../../images/main/thumb_more_m.png') no-repeat; background-size: 21px 21px;}
														&.c-white{
															.more-bt{ background:url('../../images/main/thumb_more_w_m.png') no-repeat; background-size: 21px 21px; }
														}
													}
												}
											}
										}
									}
								}
							}
							.slick-arrow{width:55px; height:55px; position: absolute; z-index:10; text-indent: -9999px;
								&.slick-prev.slick-arrow{right:215px; top:210px;background: url("../../images/main/roll_bt_left.png") no-repeat; background-size: 55px 55px;
									&:hover{background: url("../../images/main/roll_bt_left_on.png") no-repeat;}
									&.slick-disabled{background: url("../../images/main/roll_bt_left.png") no-repeat;}
								}
								&.slick-next.slick-arrow{right:150px; top:210px;background: url("../../images/main/roll_bt_right.png") no-repeat; background-size: 55px 55px;
									&:hover{background: url("../../images/main/roll_bt_right_on.png") no-repeat;}
									&.slick-disabled{background: url("../../images/main/roll_bt_right.png") no-repeat;}
								}
							}
							.slick-dots{position: absolute; bottom: 0; left: 0; width:100%; height:2px; display:none; padding:0 10px; box-sizing:border-box;
								li{display:inline-block;  height:2px; background:#e1e1e1; width:calc(100% / 6); float:left; margin-top:1px;
									div{width:100%; height:4px; margin-top:-1px; cursor: pointer;}
									&.slick-active{
										div{width:100%; height:4px; background:#007ac3; margin-top:-1px; cursor: pointer;}
									}
								}
							}
						}
					}
				}
			}
		}
		.pc-view{display:none !important;}
		.mo-view{display:block !important;}
	}
}